
.radio-button-wrapper{
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    h1{
        color: var(--gloabl-text-color);
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
    }
}
.radio-button-item{
    display: flex;
    align-items: center;
    position: relative;
    .radio-input{
        position: absolute;
        cursor: pointer;
        margin: 0;
        width: 24px;
        height: 24px;
        top: -2px;
        left: 1px;
        + .radio-label{
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
            position: relative;
            margin: 0;
            padding-left: 36px;
            .radio-title{
                color: var(--gloabl-text-color);
                font-size: 14px;
                font-weight: 400;
                line-height: normal;
            }
            .radio-desc{
                color: var(--radio-desc-text-clr);
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                margin-top: 2px;
            }
            &::before{
                content: '';
                display: inline-block;
                vertical-align: middle;
                width: 24px;
                height: 24px;
                padding: 0;
                text-align: center;
                border-radius: 10px;
                border: 1px solid var(--radio-border);
                background: var(--radio-bg);
                margin-top: 0px;
                border-radius: 100px;
                left: 0;
                position: absolute;
                top: -3px;
            }
        }
        &:checked{
            + .radio-label{
                &::before{
                    content: "";
                    background-color: var(--global-theme-color);
                    border: 1px solid var(--global-theme-color);
                    box-shadow: var(--radio-checked-shadow);
                }
            }
            &:disabled{
                + .radio-label{
                    &::before{ 
                        opacity: 0.5;                 
                    }
                }
            }
        }
        &:disabled{
            + .radio-label{
                &::before{
                    opacity: 0.5; 
                }
            }
        }
    }   
}