.attachment-sended-temp-wrapper {
    &.attachment-wrap {
        justify-content: flex-start;
    }
}

.thumbnails-wrapper {
    &.document-template {
        justify-content: flex-start;

        .document-cotent {
            width: 50%;
        }
    }
}