
  .kore-chat-window.has-panels .kore-chat-header{
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    line-height: 59px !important;
  }
  .kr-wiz-menu-chat{
    background: #FFFFFF !important;
    border-right: 1px solid #E4E5E7 !important;
    top: 1px !important;
    box-shadow: -3px 2px 5px rgba(32, 33, 36, 0.2) !important;
  }
  
  .kr-wiz-menu-css .menuItemCntr .sdkBotIcon{
    width: 68px !important;
    height: 60px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0 !important;
  }
  .kr-wiz-menu-css .menuItemCntr .sdkBotIcon.selected{
    background: #E8F4F6 !important;
    box-shadow: inset 2px 0px 0px #0D6EFD !important;
  }
  .kr-wiz-menu-css .menuItemCntr .sdkBotIcon .iconBot{
    width: 26px !important;
    height: 26px !important;
  }
  
  .kr-wiz-content-css .mainTemplateCntr .widgetTitle{
    height: 60px !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 19px !important;
    color: #5F6368 !important;
    padding: 0 20px !important;
  }
  .kr-wiz-content-css .mainTemplateCntr .widgetTitle .panelHeaderActions{
    top: 20px !important;
  }
  .kr-wiz-content-css .mainTemplateCntr .mainTemplateBdr.scroll{
    padding: 20px !important;
    height: calc(100% - 60px) !important;
    background: #FFFFFF !important;
  }
  .kr-wiz-content-css .mainTemplateCntr .mainTemplateBdr.scroll .widgetPanel{
    background: #FFFFFF !important;
    border: 1px solid #E4E5E7 !important;
    box-sizing: border-box;
    box-shadow: 0px 2px 0px rgba(32, 33, 36, 0.1) !important;
    border-radius: 6px !important;
    margin-bottom: 20px !important;
  }
  .kr-wiz-content-css .mainTemplateCntr .panelHeader .headerLeft .headerWidgetTitle{
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 17px !important;
    color: #202124 !important;
  }
  .kr-wiz-content-css .tab-list-template .listTemplateContainer .listViewMore{
    color: #0D6EFD !important;
  }
  .kr-wiz-content-css .tab-list-template .listTemplateContainer .listViewMore .seeMoreText{
    border-bottom: 1px solid #0D6EFD !important;
  }
  .kr-wiz-menu-css .menuItemCntr .menuItemBox{
    height: calc(100% - 136px)!important;
  }

  
  .kr-wiz-menu-css .menuItemCntr .menuItemContainer{
    width: 68px !important;
    height: 60px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0 !important;
  }
  .kr-wiz-menu-css .menuItemCntr .menuItemContainer .menuItem{
    width: 26px !important;
    height: 26px !important;
  }
  .kr-wiz-menu-css .menuItemCntr .menuItemContainer.selected{
    box-shadow: inset 2px 0px 0px #0D6EFD !important;
  }

  .kr-wiz-content-css .viewMoreCntr .widgetTitle{
    height: 60px !important;
  }

  .kr-wiz-content-css .mainTemplateCntr .panelHeader .headerTitleURL{
      color: #0D6EFD !important;
      border-bottom:1px solid #0D6EFD !important;
  }
  .kr-wiz-content-css .mainTemplateCntr .panelHeader .headerRight .headerTitleBTN{
    background: rgba(13, 110, 253, 0.7) !important;
    color: #fff !important;
  }
  .kr-wiz-content-css .dropbtnWidgt.moreValue:hover{
    background: rgba(13, 110, 253, 0.1) !important;
  }
  .kr-wiz-content-css .pie-chart-template .tab-list-template .listViewTmplContentChild .meetingActionButtons .actionBtns{
    background: rgba(13, 110, 253, 0.7) !important;
    color: #fff !important;
  }
  .kr-wiz-content-css .line-chart-template .tab-list-template .listViewTmplContentChild .meetingActionButtons .actionBtns{
    background: rgba(13, 110, 253, 0.7) !important;
    color: #fff !important;
  }
  .kr-wiz-content-css .dropbtnWidgt.moreValue::after{
    background-image:url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iM3B4IiBoZWlnaHQ9IjE0cHgiIHZpZXdCb3g9IjAgMCAzIDE0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPCEtLSBHZW5lcmF0b3I6IFNrZXRjaCA1My4yICg3MjY0MykgLSBodHRwczovL3NrZXRjaGFwcC5jb20gLS0+CiAgICA8dGl0bGU+b3ZlcmZsb3ctYmx1ZTwvdGl0bGU+CiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4KICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxnIGlkPSJvdmVyZmxvdy1ibHVlIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNi4wMDAwMDAsIC0xLjAwMDAwMCkiIGZpbGwtcnVsZT0ibm9uemVybyI+CiAgICAgICAgICAgIDxwb2x5Z29uIGlkPSJQYXRoIiBmaWxsLW9wYWNpdHk9IjAiIGZpbGw9IiNEOEQ4RDgiIHBvaW50cz0iMCAwIDE2IDAgMTYgMTYgMCAxNiI+PC9wb2x5Z29uPgogICAgICAgICAgICA8cGF0aCBkPSJNNy40NjcsMTEuNzMzIEM4LjE1NCwxMS43MzMgOC43MTEsMTIuMjkgOC43MTEsMTIuOTc4IEM4LjcxMSwxMy42NjUgOC4xNTQsMTQuMjIyIDcuNDY3LDE0LjIyMiBDNi43NzksMTQuMjIyIDYuMjIyLDEzLjY2NSA2LjIyMiwxMi45NzggQzYuMjIyLDEyLjI5IDYuNzc5LDExLjczMyA3LjQ2NywxMS43MzMgTDcuNDY3LDExLjczMyBaIE03LjQ2Nyw2Ljc1NiBDOC4xNTQsNi43NTYgOC43MTEsNy4zMTMgOC43MTEsOCBDOC43MTEsOC42ODcgOC4xNTQsOS4yNDQgNy40NjcsOS4yNDQgQzYuNzc5LDkuMjQ0IDYuMjIyLDguNjg3IDYuMjIyLDggQzYuMjIyLDcuMzEzIDYuNzc5LDYuNzU2IDcuNDY3LDYuNzU2IEw3LjQ2Nyw2Ljc1NiBaIE03LjQ2NywxLjc3OCBDOC4xNTQsMS43NzggOC43MTEsMi4zMzUgOC43MTEsMy4wMjIgQzguNzExLDMuNzEgOC4xNTQsNC4yNjcgNy40NjcsNC4yNjcgQzYuNzc5LDQuMjY3IDYuMjIyLDMuNzEgNi4yMjIsMy4wMjIgQzYuMjIyLDIuMzM1IDYuNzc5LDEuNzc4IDcuNDY3LDEuNzc4IEw3LjQ2NywxLjc3OCBaIiBpZD0iU2hhcGUiIGZpbGw9IiMwRDZFRkQiPjwvcGF0aD4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg==") !important;
    height: 14px !important;
  }