.mini-table-template {
    display: flex;
    gap: 10px;
    padding: 6px 12px;
    align-items: center;
    position: relative;

    .mini-left-click {
        position: absolute;
        border-radius: 32px;
        background: var(--global-white);
        box-shadow: 0px 4px 12px 2px rgba(32, 33, 36, 0.12);
        display: flex;
        width: 32px;
        height: 32px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: 0;
        left: 20px;
        top: auto;
        cursor: pointer;
        flex-shrink: 0;
        z-index: 9;
        &.hide {
           display: none;
        }
    }

    .mini-right-click {
        @extend .mini-left-click;
        left: auto;
        right: 20px;
    }

    .mini-table {
        display: flex;
        align-items: flex-start;
        overflow: hidden;
        gap: 10px;
        .mini-table-regular-view{
            border-radius: 4px;
            border: 1px solid var(--kora-grey-grey-light-3, #E4E5E7);
            width: 270px;
            flex-shrink: 0;
            thead{
                th{
                    padding: 8px 12px;
                    border-bottom: 1px solid var(--gray-modern-200, #E3E8EF);
                    color: var(--generic-black, #000);
                    font-size: 11px;
                    font-weight: 600;
                    line-height: normal;
                    letter-spacing: 0.5px;
                    text-transform: uppercase;
                    text-align: left;
                }
            }
            tbody{
                tr{
                    &:nth-child(odd){
                        td{
                            background: var(--gray-modern-50, #F8FAFC);
                        }
                    }
                    &:last-child{
                        td{
                            border: 0;
                        }
                    }
                }
                td{
                    padding: 12px;
                    text-align: left;
                    border-bottom: 1px solid var(--gray-modern-200, #E3E8EF);
                    color: var(--generic-black, #000);
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 18px;
                    vertical-align: middle;
                }
            }
        }
    }
}