.list-template-carousel-wrapper {
    .list-carousel-item {
        .card-content-sec {
            padding: 8px;

            .top-sec-card {
                position: relative;

                .thumbnail-card-style {
                    position: absolute;
                    top: 0;
                    width: 100%;

                    .thumbnail-text {
                        padding: 2px 7px;
                    }

                    .thumbnail-style {
                        border-radius: 4px;
                        font-size: 10px;
                        color: #fff;
                    }

                    .thumbnail-style-br {
                        background-color: #1D2939;
                    }

                    .thumbnail-style-gr {
                        background-color: #12B76A;
                    }

                    .p-left {
                        float: left;
                        margin-top: 5px;
                        margin-left: 5px;
                    }

                    .p-right {
                        float: right;
                        margin-top: 5px;
                        margin-right: 5px;
                    }
                }

                img {
                    width: 144px;
                    height: 144px;
                    margin: 0 auto;
                    text-align: center;
                    object-fit: contain;
                    max-width: 200px;
                }
            }

            .middle-sec-card {
                display: block;
                position: relative;
                padding: 0 0px 0px 10px;

                .middle-card-style {
                    margin-bottom: 10px;
                    margin-top: 10px
                }

                p {
                    margin-bottom: 8px;
                    max-height: 32px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 12px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            .set-qty-style {
                position: relative;
                top: 22%;
                left: 63%;
                z-index: 9999;

                .input-c {
                    width: 24px;
                    height: 24px;
                    border-radius: 4px;
                    border: 1px solid #D0D5DD;
                    color: #27272A;
                    text-align: center;
                    margin-left: 7px;
                    margin-right: 7px;
                }

                .increment {
                    background-color: #12B76A;
                    border: none;
                    width: 24px;
                    height: 24px;
                    border-radius: 4px;
                    padding: 3px;

                    img {
                        top: 1px;
                    }
                }

                .decrement {
                    background: transparent;
                    border: 1px solid rgba(0, 0, 0, 0.05);
                    border-radius: 4px;
                    width: 24px;
                    height: 24px;
                    padding: 0;

                    img {
                        position: relative;
                        top: 2px;
                    }
                }
            

            .value-style {
                margin-top: 0;
            }

            .middle-card-style {
                display: flex;
                justify-content: space-between;
                margin-top: 12px;
            }


        }
    }
}

// .card-content- {

// }
}

.stacked-cards {
    position: relative;
    display: flex;
    align-items: center;
    gap: 6px;

    .left-click {
        border-radius: 32px;
        background: var(--global-white-bg);
        box-shadow: 0px 4px 12px 2px rgba(32, 33, 36, 0.12);
        display: flex;
        width: 32px;
        height: 32px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: 0;
        cursor: pointer;
        flex-shrink: 0;
        position: relative;
        z-index: 99;
        top: 106px;

        &.disabled-click {
            display: none;
            color: #D7D8D9;
            pointer-events: none;
            cursor: no-drop;
        }
    }

    .right-click {
        @extend .left-click;
    }

    ul {
        position: relative;
        width: 100%;
        display: flex;
        margin: 0;
        padding: 0;
        height: 564px !important;
        // height: fit-content !important;

        li {
            cursor: pointer;
            list-style: none;
            width: 88%;
            position: absolute;
            left: 50%;
            transition: 0.5s ease transform;

            &.active {
                cursor: default;
                transition: 0.5s ease transform;
            }

            .card-content-sec {
                img {
                    width: 100%;
                }

                .view-more-btn {
                    height: 32px;
                }

                .top-sec-card {
                    display: block;
                    position: relative;

                    .thumbnail-card-style {
                        position: absolute;
                        top: 0;
                        width: 100%;

                        .thumbnail-text {
                            padding: 2px 7px;
                        }

                        .thumbnail-style {
                            border-radius: 4px;
                            font-size: 10px;
                            color: #fff;
                        }

                        .thumbnail-style-br {
                            background-color: #1D2939;
                        }

                        .thumbnail-style-gr {
                            background-color: #12B76A;
                        }

                        .p-left {
                            float: left;
                            margin-top: 5px;
                            margin-left: 5px;
                        }

                        .p-right {
                            float: right;
                            margin-top: 5px;
                            margin-right: 5px;
                        }
                    }
                }

                .middle-sec-card {
                    p {
                        margin-top: 12px;
                    }

                    .title-style {
                        font-size: 12px;
                        font-weight: 600;
                        color: #101828;
                    }

                    .sub-title-style {
                        font-size: 14px;
                        font-weight: 700;
                        color: #101828;
                    }

                    .value-style {
                        font-size: 14px;
                        font-weight: 600;
                        color: #16A34A;
                    }

                    .summary-text-style {
                        color: #344054;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}


.stacked-cards li:after {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

.list-template-carousel-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    gap: 10px;
    padding: 6px 12px;

    .carousel-left-click {
        position: absolute;
        border-radius: 32px;
        background: var(--global-white);
        box-shadow: 0px 4px 12px 2px rgba(32, 33, 36, 0.12);
        display: flex;
        width: 32px;
        height: 32px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: 0;
        left: 20px;
        top: 53%;
        cursor: pointer;
        flex-shrink: 0;
        z-index: 9;

        svg {
            path {
                stroke: var(--gloabl-text-color);
            }
        }

        &.hide {
            display: none;
        }
    }

    .carousel-right-click {
        @extend .carousel-left-click;
        left: auto;
        right: 20px;
    }

    .list-carousel {
        display: flex;
        overflow: hidden;
        gap: 10px;

        .list-carousel-item {
            display: flex;
            padding: 0px;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            border-radius: 4px;
            border: none;
            background: var(--global-white-bg);
            // width: 255px;
            width: 82%;
            flex-shrink: 0;
            max-height: 520px;

            .img-block {
                width: 100%;
                height: 144px;

                figure {
                    width: 100%;
                    height: 144px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 4px;
                    }
                }
            }

            .content-block {
                display: flex;
                padding: 8px;
                align-items: flex-start;
                gap: 12px;
                align-self: stretch;
                flex-direction: column;

                .heading-block {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    gap: 8px;

                    h1 {
                        color: var(--gloabl-text-color);
                        font-size: 14px;
                        font-weight: 700;
                        line-height: normal;
                        width: 100%;
                    }

                    p {
                        color: var(--success-600, #16A34A);
                        text-align: center;
                        font-size: 11px;
                        font-weight: 600;
                        line-height: 16px;
                    }
                }

                p {
                    overflow: hidden;
                    color: var(--gloabl-text-color);
                    text-overflow: ellipsis;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: normal;
                }

                .rating-block {
                    display: flex;
                    align-items: center;
                    gap: 6px;

                    figure {
                        line-height: 0;
                    }
                }

            }
        }
    }
}

.f-left {
    display: flex;
    align-items: center;
    /* Aligns items vertically in f-left */
    /* Additional styles for f-left */
}

.f-right {
    display: flex;
    align-items: center;
    /* Aligns items vertically in f-right */
    /* Additional styles for f-right */
}