.stacked-cards {
    position: relative;
    display: flex;
    align-items: center;
    gap: 6px;

    .left-click {
        border-radius: 32px;
        background: var(--global-white-bg);
        box-shadow: 0px 4px 12px 2px rgba(32, 33, 36, 0.12);
        display: flex;
        width: 32px;
        height: 32px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: 0;
        cursor: pointer;
        flex-shrink: 0;
        position: relative;
        z-index: 99;

        &.disabled-click {
            display: none;
            color: #D7D8D9;
            pointer-events: none;
            cursor: no-drop;
        }
    }

    .right-click {
        @extend .left-click;
    }

    ul {
        position: relative;
        width: 100%;
        display: flex;
        margin: 0;
        padding: 0;
        height: 200px !important;

        li {
            cursor: pointer;
            list-style: none;
            width: 65%;
            position: absolute;
            left: 50%;
            transition: 0.5s ease transform;

            &.active {
                cursor: default;
                transition: 0.5s ease transform;
            }
        }
    }
}


.stacked-cards li:after {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

.list-template-carousel-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    gap: 10px;
    padding: 6px 12px;

    .carousel-left-click {
        position: absolute;
        border-radius: 32px;
        background: var(--global-white);
        box-shadow: 0px 4px 12px 2px rgba(32, 33, 36, 0.12);
        display: flex;
        width: 32px;
        height: 32px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: 0;
        left: 20px;
        top: auto;
        cursor: pointer;
        flex-shrink: 0;
        z-index: 9;
        &.hide {
           display: none;
        }
    }

    .carousel-right-click {
        @extend .carousel-left-click;
        left: auto;
        right: 20px;
    }

    .list-carousel {
        display: flex;
        overflow: hidden;
        gap: 10px;

        .list-carousel-item {
            display: flex;
            padding: 8px;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            border-radius: 4px;
            border: 1px solid var(--gloabl-border-color);
            background: var(--global-white-bg);
            width: 255px;
            flex-shrink: 0;

            .img-block {
                width: 100%;
                height: 144px;

                figure {
                    width: 100%;
                    height: 144px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 4px;
                    }
                }
            }

            .content-block {
                display: flex;
                padding: 8px;
                align-items: flex-start;
                gap: 12px;
                align-self: stretch;
                flex-direction: column;

                .heading-block {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    gap: 8px;

                    h1 {
                        color: var(--generic-black, #000);
                        font-size: 14px;
                        font-weight: 700;
                        line-height: normal;
                        width: 100%;
                    }

                    p {
                        color: var(--success-600, #16A34A);
                        text-align: center;
                        font-size: 11px;
                        font-weight: 600;
                        line-height: 16px;
                    }
                }

                p {
                    overflow: hidden;
                    color: var(--gray-modern-700, #364152);
                    text-overflow: ellipsis;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: normal;
                }

                .rating-block {
                    display: flex;
                    align-items: center;
                    gap: 6px;

                    figure {
                        line-height: 0;
                    }
                }

            }
        }
    }
}