.stacked {
    align-self: center;

    .slider {
        list-style: none;
        padding: 0;
    }

    .slider li {
        height: 100px;
        width: 150px;
        border-radius: 4px;
        background-color: #00bcd4;
        display: flex;

        h2 {
            margin-top: auto;
            background: #fff;
            width: 100%;
            padding: 20px 20px;
            display: block;
            bottom: 0;
        }
    }

    .slider li:nth-child(n) {
        background-color: #3599db;
    }

    .slider li:nth-child(2n) {
        background-color: #e61b77;
    }

    .slider li:nth-child(3n) {
        background-color: #00bcd4;
    }

    .slider li:nth-child(4n) {
        background-color: #f4b251;
    }

    .slider li:nth-child(5n) {
        background-color: #8e4497;
    }
}

/* STACKED CARDS */
.stacked-cards {
    position: relative;
    height: 130px;
}

.stacked-cards ul {
    position: relative;
    max-width: 60%;
    margin: 0 auto;
    padding-left: 0;
}

.stacked-cards li {
    margin-top: 5px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 3px 6px 0px #333;
    list-style: none;
    width: 65%;
    position: absolute;
    left: 50%;
    transition: 0.5s ease transform;
}

.stacked-cards li:after {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.stacked-cards li img {
    position: relative;
    display: block;
    max-width: 100%;
    height: auto;
    z-index: 4;
}

.stacked-cards li.active {
    cursor: default;
    box-shadow: 0 5px 10px 0px #333;
    transition: 0.5s ease transform;
}