.kore-chat-window .minitableDiv {
    clear: both;
    border-radius: 4px;
    background-color: var(--sdk-chat-widow-default-white);
    margin-top: 10px;
    box-shadow: 0 1px 7px 0 rgba(157, 157, 157, 0.58);
}

.kore-chat-window .minitableDiv table {
    width: 100%;
}

.kore-chat-window .minitableDiv table th {
    text-align: left;
    padding: 10px;
    font-size: 15px;
    color: var(--sdk-chat-widow-primary-font-color);
    font-weight: bold;
}

.kore-chat-window .minitableDiv table td {
    text-align: left;
    padding: 10px;
    text-align: left;
    padding: 10px;
    font-size: 15px;
    color: #8a959f;
    max-width: 190px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*.kore-chat-window .tablechart .tablechartDiv,
.kore-chat-window .largePreviewContent .tablehartDiv {
    clear: both;
    left: -30px;
    position: relative;
    top: 18px;
    margin: 0px -22px 13px 0px;
    border-radius: 4px;
    background-color: var(--sdk-chat-widow-default-white);
    box-shadow: 0 1px 5px 0 rgba(179, 186, 200, 0.58);
}

.kore-chat-window .tablechartDiv table {
    border-collapse: collapse;
}

.kore-chat-window .tablechartDiv tr {
    border-bottom: 1px solid #dfdfdf;
}

.kore-chat-window .tablechartDiv tr.headerTitle {
    border-bottom: solid 1px #99ed9e;
}

.kore-chat-window .tablechart .tablechartDiv tr.bottomThickBorder,
.kore-chat-window .largePreviewContent .tablechartDiv tr.bottomThickBorder {
    border-bottom: 3px solid #d6d6d6;
}

.kore-chat-window .tablechart .profile-photo {
    top: 30px !important;
}

.kore-chat-window .kore-chat-window.expanded .tablechart .profile-photo {
    top: 30px !important;
}

.kore-chat-window .tablechart .tablechartDiv table,
.kore-chat-window .largePreviewContent .tablechartDiv table {
    width: 100%;
}
.kore-chat-window .tablechart .tablechartDiv table td,
.kore-chat-window .tablechart .tablechartDiv table th {
    padding: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 200px !important;
    font-size: 14px;
    color: var(--sdk-chat-widow-primary-font-color);
    text-align: left;
}

.kore-chat-window .largePreviewContent .tablechartDiv table td,
.kore-chat-window .largePreviewContent .tablechartDiv table th {
    padding: 17px;
    /* white-space: nowrap; */
   /* font-size: 14px;
    color: var(--sdk-chat-widow-primary-font-color);
    text-align: left;
    max-width: 200px;
}

.kore-chat-window .tablechart tr:last-child,
.kore-chat-window .largePreviewContent tr:last-child {
    border: none;
}
.kore-chat-window .messageBubble.tableChart {
    margin-bottom: 10px;
}

.kore-chat-window #myPreviewModal .tablechartDiv .hide {
    display: table-row;
}

.kore-chat-window #myPreviewModal .tablechartDiv .showMore {
    display: none;
}
.kore-chat-window .largePreviewContent .tablechartDiv {
    display: block !important;
    background: var(--sdk-chat-widow-default-white);
    padding: 10px;
    border: 30px solid var(--sdk-chat-widow-primary-bg-color);
    border-top: 52px solid var(--sdk-chat-widow-primary-bg-color);
}
.kore-chat-window .messageBubble.tableChart {
    margin-bottom: 10px;
}

[dir="rtl"].kore-chat-window .tablechart .tablechartDiv{
    right: 20px;
    width: 100%;
}
*/