

.chart-template-wrapper{
    padding: 0px 16px 5px 16px;
    display: inline-block;
    width: 100%;
    .charts-body-info{
        border-radius: 4px;
        border: 1px solid var(--gloabl-border-color);
        background: var(--global-white-bg);
        padding: 16px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        h1{
            color: var(--gloabl-text-color);
            font-size: 14px;
            font-weight: 700;
            line-height: normal;
        }
    }
}

polyline{
    opacity: .3;
    stroke: black;
    stroke-width: 1px;
    fill: none;
}