@import '../reset.scss';
@import '../variables.scss';

.kore-chat-window-main-section {
  position: absolute;
  height: calc(100% - 136px);
  border-radius: 4px;
  right: 40px;
  bottom: 96px;
  top: auto;
  width: 400px;
  max-width: calc(100% - 80px);
  transition: 0.4s all ease;
  font-family: var(--global-font-family);
  &.is-wigets-enabled{
    box-shadow: 0px 4px 12px 2px rgba(32, 33, 36, 0.12);
    width: 444px;
    .chat-widgetwrapper-main-container{
      border-radius: 0px 4px 4px 0px;
      box-shadow: none !important;
      .chat-widget-header{
        border-radius: 0px 4px 0px 0px;
      }
    }
  }
  &.avatar-medium-size{
    height: calc(100% - 148px);
    bottom: 108px;
    .avatar-variations-footer {
      .avatar-actions {
        &.variation-4{
          .avatar-bg{
            &::before{
              left: 4px;
              right: -35px;
              transform: rotate(0);
              bottom: 4px;
            }
          }
        }
        &.variation-2 {
          .avatar-bg{
            width: 68px;
          }
        }
        .avatar-bg{
          width: 60px;
          height: 60px;
        }
      }
    }
  }
  &.avatar-large-size{
    height: calc(100% - 160px);
    bottom: 120px;
    .avatar-variations-footer {
      .avatar-actions {
        &.variation-4{
          .avatar-bg{
            &::before{
              left: 12px;
              right: -37px;
              transform: rotate(0);
              bottom: 6px;
            }
          }
        }
        .avatar-bg{
          width: 72px;
          height: 72px;
        }
      }
    }
  }
  *{
    font-family: var(--global-font-family);
  }
  &.no-avatar-bg-icon{
    height: calc(100% - 80px);
  }
  @media (max-width: $media-mobile) {
    width: calc(100% - 20px);
    height: calc(100% - 115px);
    right: 10px;
    bottom: 40px;
    max-width: 100%;
  }
  &.minimize-chat{
    height: 0px;
    width: 0px;
    top: auto;
    .welcome-chat-section{
      transform: scale(0);
    }
    .kr-wiz-menu-chat {
      display: none !important;
      &.show {
        display: none !important;
      }
    }
  }

  .kr-wiz-menu-chat {
    display: none;
		float: left;
		transition: ease-in .33s;
    &.show {
      display: block;
    }
	}
}