@import '../reset.scss';
@import '../variables.scss';

.chat-window-main-section {
  position: absolute;
  height: calc(100% - 136px);
  border-radius: 4px;
  right: 40px;
  bottom: 96px;
  top: auto;
  width: 372px;
  max-width: calc(100% - 80px);
  transition: 0.4s all ease;
  font-family: var(--global-font-family);

  &.avatar-medium-size {
    height: calc(100% - 148px);

    .avatar-variations-footer {
      .avatar-actions {
        &.variation-4 {
          .avatar-bg {
            &::before {
              left: 4px;
              right: -35px;
              transform: rotate(0);
              bottom: 3px;
            }
          }
        }

        .avatar-bg {
          width: 60px;
          height: 60px;
        }
      }
    }
  }

  &.avatar-large-size {
    height: calc(100% - 160px);

    .avatar-variations-footer {
      .avatar-actions {
        &.variation-4 {
          .avatar-bg {
            &::before {
              left: 12px;
              right: -37px;
              transform: rotate(0);
              bottom: 6px;
            }
          }
        }

        .avatar-bg {
          width: 72px;
          height: 72px;
        }
      }
    }
  }

  * {
    font-family: var(--global-font-family);
  }

  &.no-avatar-bg-icon {
    height: calc(100% - 80px);
  }

  @media (max-width: $media-mobile) {
    width: calc(100% - 20px);
    height: calc(100% - 115px);
    right: 10px;
    bottom: 75px;
    max-width: 100%;
  }

  &.minimize-chat {
    height: 0px;
    width: 0px;
    top: auto;

    .welcome-chat-section {
      transform: scale(0);
    }

    .kr-wiz-menu-chat {
      display: none !important;
    }
  }

  .kr-wiz-menu-chat {
    display: none;
    position: absolute;
    margin-left: -70px;
    float: left;
    border: 0;
    transition: ease-in .33s;

    &.show {
      display: block;
    }
  }
}

.chat-window-main-section.retail-assist-theme {
  position: fixed;
  height: calc(100% - 50px);
  bottom: 20px;
  z-index: 9999;

  .chat-widgetwrapper-main-container {
    background: var(--global-white-bg);
  }

  /* Media query for tablets (landscape and portrait) */
  @media only screen and (max-width: 768px) {
    right: 0;
  }

  /* Media query for mobile phones (landscape and portrait) */
  @media only screen and (max-width: 480px) {
    height: calc(100% - 75px);
    bottom: 0;
  }

  .button-template-container {
    padding-left: 16px;
    /* Adjust padding for tablets */
  }

  .chat-actions-bottom-wraper {
    .actions-contnet-data {
      height: 100%;
      max-height: 100%;

      .menu-wrapper-data-actions {
        height: 100% !important;
      }
    }

  }

  .avatar-variations-footer {
    .avatar-actions {
      .content-info {
        .text-content {
          display: none !important;

          &.text-heading-one {
            display: block !important;
          }
        }

        >.primary-button {
          display: none !important;
        }
      }
    }
  }

  .chat-widget-header {
    .info-content-data {
      .img-block {
        figure {
          img {
            border: none;
          }
        }
      }
    }
  }

  .chat-widget-composebar {
    .typing-indicator-wraper {
      min-width: 80px;
      background: transparent !important;
    }
  }

  .button-template-container {
    padding-left: 32px;
  }

  .date-saperator {
    .line-border {
      width: 150px;
      margin: 0;
    }

    .date-text {
      display: none !important;
    }
  }

}



.retail-assist-theme {
  /* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZJhiI2B.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZthiI2B.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZNhiI2B.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZxhiI2B.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZBhiI2B.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZFhiI2B.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hiA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
  .button-temp {
    display: flex;
  }

  .kr-btn {
    flex: 1;
    font-size: 12px !important;
    padding: 10px 16px !important;
  }
  
}