/* Custom Login Form */
.custom-form-wrapper{
    padding-left:10px;
    padding-right: 10px;
    margin: 12px 0;
    display: inline-block;
    width: 100%;
    animation-name: bubbleAnim;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    .icon-block{
        display: none;
    }
    &.custom-forms-thumbnails{
        margin-top: 30px;
        /* padding: 0 16px; */
        .custom-form-data-content{
            .icon-block{
                width: 44px;
                height: 44px;
                background: white;
                border: 1px solid #3c817c;
                border-radius: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 20px;                
                margin: -38px 0 14px 0;
                svg{
                    path{
                        fill: var(--form-temp--text-color);
                    }
                }
            }
        }
    }
    .custom-form-data-content{
        background: #3c817c;
        border: 1px solid #3c817c;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        padding: 15px;
        max-width: 100%;
        transition: 0.3s all ease;
        cursor: default;
        /* &:hover{
            box-shadow: 0px 4px 12px 2px rgba(32, 33, 36, 0.12);
            transform: scale(1.03);
        } */
        
        p{
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: var(--form-temp--text-color);
        }
        .link-btn{
            padding: 6px 0px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: var(--global-theme-color);
            cursor: pointer;
            background: transparent;
            border: 0;
            margin-top: 8px;
        }
    }
}
.actionSheetContainer .custom-form-wrapper {
    padding: 15px;
}
.custom-form-wrapper .custom-form-data-content h1{
    font-weight: 600 !important;
    font-size: 20px !important;
    line-height: 17px !important;
    color: white !important;
    margin-bottom: 8px !important;
    text-align: left !important;
}
.custom-form-wrapper .custom-form-body {
    padding: 5% !important;
    max-width:100%;
    background-color: white;
    padding: 10px;
    border: 1px solid #eaecf0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.custom-form-input-wrapper{
    width: 100%;
    margin-top: 10px;
}

.custom-form-input-wrapper label{
    margin-top: 5px;;
    color: var(--form-temp--text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    width: 100%;
    display: block;
    margin-bottom: 4px;
}
.custom-form-input-wrapper input{
    width: 100%;
    display: flex;
    height: 40px;
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #bdc1c6;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: black;
}
.custom-form-input-wrapper input:focus {
    border: none !important;
    outline: 1px solid #bdc1c6 !important;
    border-bottom: 10px;
}
.custom-form-button {
    background: #3c817c;
    border: 1px solid #3c817c;
    color: white;
    width: auto;
    height: 40px;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}
.custom-form-input-wrapper .custom-form-button:only-child {
    width: 100%;
}
.custom-form-body .custom-errorMessage {
    text-align: left;
    color: #dd473c;
    margin-top: 10px;
    font-size: 16px;
}
.custom-form-input-wrapper .required {
    color:#dd473c;
}

.custom-form-input-wrapper .red-form-control {
    border:1px solid #dd473c;
}

.custom-required-field-error {
    color:#dd473c
}
.custom-form-button:disabled {
    pointer-events: none !important;
    opacity: 0.5 !important;
    background-color: #ababab;
    border: none !important;
}
.custom-form-data-content .close-button {
    float: right;
    margin: -50px 0 17px 0;
    border-radius: 35px;
    height: 35px !important;
    width: 35px !important;
    cursor: pointer;
}
.custom-form-icon {
    width:35px;
    height:35px
}

.display-none {
    display: none;
}
/* Custom Login Form Ends*/