

.welcome-chat-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--welcome-bg);
    box-shadow: var(--welcome-shadow);
    .welcome-header {
        position: relative;
        &.variation-1 {
            .welcome-header-bg {
                padding: 32px 16px 42px 16px;
                .logo-img {
                    display: none;
                }                
            }
            .bg-logo{
                display: flex;
            }
        }
        &.variation-2 {
            .welcome-header-bg {
                padding: 32px 16px 32px 16px;
                .logo-img {
                    display: none;
                }
            }
            .bg-logo {
                position: absolute;
                top: 0;
                left: 0;
                border: 3px solid #121314;
                box-shadow: none;
                display: flex;
            }
        }
        .welcome-header-bg {
            background: var( --welcome-header-bg);
            border-radius: 4px 4px 0px 0px;
            padding: 32px 16px;
            .logo-img {
                margin-bottom: 18px;
            }
            h1 {
                font-weight: 600;
                font-size: 36px;
                line-height: 44px;
                color: var(--welcome-header-text-color);
                margin-bottom: 6px;
            }
            h2 {
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                color: var(--welcome-header-text-color);
                margin-bottom: 6px;
            }
            p {
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: var(--welcome-header-text-color);
            }
        }
        .bg-logo {
            width: 56px;
            height: 56px;
            background: #FFFFFF;
            box-shadow: 0px 10px 15px -3px rgba(16, 24, 40, 0.1), 0px 4px 6px -4px rgba(16, 24, 40, 0.1);
            border-radius: 100%;
            display: none;
            align-items: center;
            justify-content: center;
            margin: -30px 0 10px 16px;
            display: none;
        }
    }
    .welcome-interactions {
        flex: 1 1 auto;
        overflow: auto;
    }
    .powerdby-info {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px 16px;
        background: #F8FAFC;
        height: 28px;
        p {
            font-weight: 500;
            font-size: 10px;
            line-height: 12px;
            color: #9AA4B2;
            margin-right: 5px;
            flex-shrink: 0;
        }
    }

    &.hide {
        display: none;
    }
}

// Conversations Starter Box

.start-conversations-wrapper{
    padding: 16px;
    display: inline-block;
    width: 100%;
    .start-conv-sec{
        background: var(--welcome-start-conv-bg);
        border: 1px solid var(--welcome-start-conv-border);
        border-radius: 4px;
        padding: 15px;
        .conv-starter-box{
            display: flex;
            align-items: center;
            .bot_icon{
                width: 40px;
                height: 40px;
                flex-shrink: 0;
                margin-right: 8px;
                background: var(--welcome-start-conv-bot-bg);
                border-radius: 24px;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 16px;
                color: #364152;
            }
            .conv-starter-content-info{
                width: 100%;
                .conv-starter-title{
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 17px;
                    color: var(--welcome-start-conv-bot-title);
                }
                .conv-starter-desc{
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 18px;
                    color: var(--welcome-start-conv-bot-desc);
                    margin-top: 3px;
                }
            }
        }
        .quick-start-buttons-container{
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            margin: 16px 0;
            &.stacked-buttons{
                .quick-start-btn{
                    width: 100%;
                }
            }
            .quick-start-btn{
                background: var(--welcome-start-conv-quick-btn-bg);
                border: 1px solid var(--welcome-start-conv-quick-btn-border);
                border-radius: 4px;
                height: 40px;
                padding: 10px 15px;
                display: flex;
                align-items: center;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                color: var(--welcome-start-conv-quick-btn-text); 
                cursor: pointer;
                .emoji-symbol{
                    width: 20px;
                    height: 20px;
                    flex-shrink: 0;
                    font-size: 15px;
                    margin-right: 6px;
                }
            }
        }
        .start-conv-button{
            margin-top: 16px;
            background: var(--welcome-start-conv-button-bg);
            border-radius: 4px;
            width: 100%;
            display: flex;
            align-items: center;
            text-align: left;
            padding: 10px 16px;
            height: 40px;
            border: 1px solid var(--welcome-start-conv-button-border);
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: var(--welcome-start-conv-button-color);
            cursor: pointer;
            span{
                width: 100%;
            }
            i{
                flex-shrink: 0;
                margin-left: 10px;
            }
        }
        .start-conv-search-block{
            display: flex;
            align-items: center;
            margin-top: 16px;
            width: 100%;
            gap: 10px;
            .start-conv-search{
                position: relative;
                width: 100%;
                .search-icon{
                    position: absolute;
                    left: 10px;
                    top: 9px;
                    font-size: 16px;
                    color: #9AA4B2;
                }
                input{
                    background: var(--welcome-start-conv-search-bg);
                    border: 1px solid #BDC1C6;
                    border-radius: 4px;
                    width: 100%;
                    height: 34px;
                    padding: 7px 10px 7px 32px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: #202124;
                    &::placeholder{
                        color: #BDC1C6;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                    }
                    &:focus{
                        border: solid 1px ;
                    }
                    &:active{
                        border: solid 1px #4B4EDE;
                    }
                    &:disabled{
                        opacity: 0.4;
                        pointer-events: none;
                        cursor: not-allowed;
                    }
                    &.error{
                        border: solid 1px #ff001f;
                    }
                }
            }
            .search-send{
                background: var(--welcome-start-conv-button-bg);
                border-radius: 4px;
                padding: 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid var(--welcome-start-conv-button-border);
                font-size: 14px;
                color: var(--welcome-start-conv-button-color);
                cursor: pointer;
                width: 34px;
                height: 34px;
                flex-shrink: 0;
            }
        }
    }
}