.dropDowntmplContent .selectTemplateDropdowm{
    border: 1px solid var(--sdk-chat-window-dropdown-border);
    height: 25px;
    background: var(--sdk-chat-window-pie-chart-background);
}
.dropDowntmplContent .templateHeading{
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: bold;
    color: var(--sdk-chat-widow-primary-font-color);
}

