.card-template-wrapper{
    padding: 6px 12px;
    display: inline-block;
    width: 100%;
    animation-name: left-to-right-slide-anim;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    .card-warpper-info{
        border-radius: 4px;
        border: 1px solid var(--gloabl-border-color);
        background: var(--card-main-wrapper-bg);
        display: flex;
        padding: 16px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 12px;
        h1{
            color: var(--card-heading-title);
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
        .card-content-sec{
            display: flex;
            padding: 12px;
            flex-direction: column;
            gap: 8px;
            width: 100%;
            border-radius: 4px;
            border: 1px solid var(--card-temp-border);
            background: var(--card-temp-bg);
            text-align: left;
            .top-sec-card{
                display: flex;
                align-items: center;
                width: 100%;
                gap: 10px;
                h1{
                    color: var(--card-temp-h1-color);
                    font-size: 14px;
                    font-weight: 700;
                    line-height: normal;
                    width: 100%;
                }
                .tag-name{
                    flex-shrink: 0;
                    border-radius: 24px;
                    background: var(--success-50, #F0FDF4);
                    padding: 2px 10px;
                    color: var(--kore-green-kore-green-0, #04AF5F);
                    text-align: center;
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 18px;
                }
            }
            .middle-sec-card{
                p{
                    color: var(--card-temp-p-color);
                    font-size: 10px;
                    font-weight: 400;
                    line-height: normal;
                }
                .bottom-sec-card{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    width: 100%;
                    h2{
                        color: var(--card-temp-color);
                        font-size: 12px;
                        font-weight: 500;
                        line-height: normal;
                        width: 100%;
                    }
                    p{
                        color: var(--card-temp-color);
                        text-align: right;
                        font-size: 12px;
                        font-weight: 500;
                        line-height: normal;
                        flex-shrink: 0;
                    }
                }
            }
            .bottom-sec-card{
                display: flex;
                align-items: center;
                gap: 10px;
                width: 100%;
                h2{
                    overflow: hidden;
                    color: var(--card-temp-color);
                    font-size: 12px;
                    font-weight: 500;
                    line-height: normal;
                    width: 100%;
                }
                p{
                    color: var(--card-temp-color);
                    text-align: right;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: normal;
                    flex-shrink: 0;
                }
            }
        }
    }
}