.liteTheme-one { /*--Theme one kore lite--*/

    /* Chat Window Main */

    --sdk-chat-window-bg-color:#FFFFFF;
    --sdk-chat-window-font-style:"Inter";
    --sdk-chat-window-box-shadow:0 10px 25px 0 rgba(0, 0, 0, 0.2);
    --sdk-chat-window-border-color:#e5e8ec;

    /* Bot message variable */

    --sdk-chat-window-bot-bubble-bg:#F1F0F0;
    --sdk-chat-window-bot-bubble-font-clr:#333;
    --sdk-chat-window-bot-bubble-shape:12px 12px 12px 2px;
    --sdk-chat-window-bot-bubble-border-clr:#F1F0F0;
    --sdk-chat-window-bot-bubble-agent-bg:#bef3e7;

    /* User Message Variable */

    --sdk-chat-window-user-bubble-bg:#009dab;
    --sdk-chat-window-user-bubble-font-clr:#FFFFFF;
    --sdk-chat-window-user-bubble-shape:12px 12px 2px 12px;
    --sdk-chat-window-user-bubble-border-clr:#009dab;

    /* button colors chat window */

    --sdk-chat-window-btn-default-bg:#009dab;
    --sdk-chat-window-btn-border-clr:#009dab;
    --sdk-chat-window-btn-font-clr:#ffffff;
    --sdk-chat-window-btn-hover-bg:#009dab;
    --sdk-chat-window-btn-hover-border-clr:#009dab;
    --sdk-chat-window-btn-hover-font-clr:#FFFFFF;


    /* Bot Header Variables */

    --sdk-chat-window-header-bg:#FFFFFF;
    --sdk-chat-window-header-font-clr:#26344a;
    --sdk-chat-window-header-border-clr:#e5e8ec;
    

    /* Bot Body Variables */

    --sdk-chat-window-body-bg:#FFFFFF;
    // --sdk-chat-window-body-bg-image:url('');



    /* Bot Footer Variables */

    --sdk-chat-window-footer-bg:#FFFFFF;
    --sdk-chat-window-footer-font-clr:#26344a;
    --sdk-chat-window-footer-border-clr:#e5e8ec;
    --sdk-chat-window-footer-input-placeholder:#D0D0D0;



    --sdk-chat-widow-default-white: #ffffff;
    /* --sdk-chat-widow-primary-font-color: #26344a; */
    --sdk-chat-widow-primary-blue-color: #009dab;
    --sdk-chat-widow-primary-border-color: #e5e8ec;
    --sdk-chat-widow-primary-bg-color: #f2f3f5;
    --sdk-chat-widow-panel-header-bg-color:#f2f3f5;
    --sdk-chat-widow-secondary-font-color: #8a959f;

   

}
.customBranding-theme {/*--Custom Branding--*/


    /* Chat Window Main */

    --sdk-chat-window-bg-color:var(--sdk-chat-custom--widgetBody-backgroundColor);
    --sdk-chat-window-font-style:var(--sdk-chat-custom--generalAttributes-fontStyle);
    --sdk-chat-window-box-shadow:0 10px 25px 0 rgba(0, 0, 0, 0.2);
    --sdk-chat-window-border-color:#e5e8ec;

    /* Bot message variable */

    --sdk-chat-window-bot-bubble-bg:var(--sdk-chat-custom--botMessage-bubbleColor) !important;
    --sdk-chat-window-bot-bubble-font-clr:var(--sdk-chat-custom--botMessage-fontColor) !important;
    --sdk-chat-window-bot-bubble-shape:var(--sdk-chat-custom--generalAttributes-bubbleShape) !important;
    --sdk-chat-window-bot-bubble-border-clr:var(--sdk-chat-custom--botMessage-borderColor) !important;
    --sdk-chat-window-bot-bubble-agent-bg:var(--sdk-chat-custom--botMessage-bubbleColor) !important;

    /* User Message Variable */

    --sdk-chat-window-user-bubble-bg:var(--sdk-chat-custom--userMessage-bubbleColor) !important;
    --sdk-chat-window-user-bubble-font-clr:var(--sdk-chat-custom--userMessage-fontColor) !important;
    --sdk-chat-window-user-bubble-shape:var(--sdk-chat-custom--generalAttributes-bubbleShape) !important;
    --sdk-chat-window-user-bubble-border-clr:var(--sdk-chat-custom--botMessage-borderColor) !important;

    /* button colors chat window */

    --sdk-chat-window-btn-default-bg:var(--sdk-chat-custom--buttons-defaultButtonColor);
    --sdk-chat-window-btn-border-clr:#009dab;
    --sdk-chat-window-btn-font-clr:var(--sdk-chat-custom--buttons-defaultFontColor);
    --sdk-chat-window-btn-hover-bg:var(--sdk-chat-custom--buttons-onHoverButtonColor);
    --sdk-chat-window-btn-hover-border-clr:var(--sdk-chat-custom--buttons-backgroundColor);
    --sdk-chat-window-btn-hover-font-clr:var(--sdk-chat-custom--buttons-onHoverFontColor);


    /* Bot Header Variables */

    --sdk-chat-window-header-bg:var(--sdk-chat-custom--widgetHeader-backgroundColor);
    --sdk-chat-window-header-font-clr:var(--sdk-chat-custom--widgetHeader-fontColor);
    --sdk-chat-window-header-border-clr:var(--sdk-chat-custom--widgetHeader-borderColor);
    

    /* Bot Body Variables */

    --sdk-chat-window-body-bg:var(--sdk-chat-custom--widgetBody-backgroundColor);
    /* --sdk-chat-window-body-bg-image:url(""); */



    /* Bot Footer Variables */

    --sdk-chat-window-footer-bg:var(--sdk-chat-custom--widgetFooter-backgroundColor);
    --sdk-chat-window-footer-font-clr:var(--sdk-chat-custom--widgetFooter-fontColor);
    --sdk-chat-window-footer-border-clr:var(--sdk-chat-custom--widgetFooter-borderColor);;
    --sdk-chat-window-footer-input-placeholder:var(--sdk-chat-custom--widgetFooter-placeHolder);


    --sdk-chat-widow-default-white: #ffffff;
}