
.form-template-wrapper-container{
    padding: 0 16px;
    display: inline-block;
    width: 100%;
    .form-temp-content{
        border-radius: 4px 0px 0px 0px;
        background: var(--form-temp-bg);
        display: flex;
        width: 100%;
        padding: 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        h1{
            color: var(--form-temp--text-color);
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        .form-input-wrapper{
            width: 100%;
            label{
                color: var(--form-temp--text-color);
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                width: 100%;
                display: block;
                margin-bottom: 4px;
            }
            input{
                width: 100%;
                display: flex;
                height: 40px;
                padding: 8px 12px;
                border-radius: 6px;
                border: 1px solid var(--gloabl-border-color);
                background: var(--form-temp-input-bg);
                box-shadow: var(--form-temp-input-box-shadow);
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                color: var(--form-temp--text-color);
                &::placeholder{
                    color: var(--form-temp-input-placeholder);
                }
            }
        }
    }
}