@import '../variables.scss';
.avatar-variations-footer {
    position: fixed;
    bottom: 40px;
    right: 40px;
    // position: absolute;
    // bottom: 0;
    // right: 0;
    overflow: inherit;
    animation: remove-hidden 0.1s ease forwards;
    @media (max-width: $media-mobile) {
        bottom: 15px;
        right: 10px;
    }
    .avatar-actions {
        display: flex;
        align-items: flex-end;
        position: relative;
        gap: 10px;
        &.bubble-align-block{
            flex-direction: column;
        }
        .content-info {
            display: flex;
            flex-direction: column;
            width: auto;
            flex: auto;
            align-items: flex-end;
            // position: absolute;
            transition: 0.3s all ease;
            // transform: scale(0) translateX(100%);
            // animation: leftrun 1s ease-in forwards 1s;
            // opacity: 0;
            @-webkit-keyframes leftrun {
                0% {
                    transform: translateX(100%);
                    opacity: 0;
                    height: 48px;
                    background-color: red;
                }
        
                60% {
                    transform: none;
                    opacity: 0.5;
                    height: auto;
                }
        
                100% {
                    transform: translateX(0);
                    opacity: 1;
                }
            }
            .text-content {
                background: var(--global-white-bg);
                border: 1px solid var(--gloabl-border-color);
                box-shadow: 0px 4px 12px 2px rgba(32, 33, 36, 0.12);
                border-radius: 4px;
                display: inline-block;
                padding: 11px;
                position: relative;
                margin-bottom: 8px;                 
                h4 {
                    font-weight: 600;
                    font-size: $font-s-16;
                    line-height: 19px;
                    color: var(--avatar-text-colr);
                    margin-bottom: 4px;
                    white-space: nowrap;
                }
                .help-text-content {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: var(--avatar-text-colr);
                    white-space: nowrap;
                }
                .close-avatar-content {
                    position: absolute;
                    top: -8px;
                    right: -8px;
                    width: 20px;
                    height: 20px;
                    background: var(--global-white-bg);
                    border: 1px solid var(--gloabl-border-color);
                    border-radius: 32px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    padding: 0;
                    svg{
                        path{
                            fill: var(--gloabl-text-color);
                        }
                    }
                }
            }
            .primary-button {
                background: var(--avatar-send-msg-bg);
                box-shadow: 0px 4px 12px 2px rgba(32, 33, 36, 0.12);
                border-radius: 4px;
                height: 40px;
                padding: 10px 16px;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                color: var(--global-white);
                border: 0;
                white-space: nowrap;
            }
        }

        .bounce2 {
            animation: bounce2 2s ease infinite;
        }
        .avatar-bg {
            background: var(--avatar-bg);
            box-shadow: 0px 4px 6px -1px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.1);
            border-radius: 32px;
            width: 48px;
            height: 48px;
            padding: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            border: 0;
            cursor: pointer;
            position: relative;
            // animation: bounce2 0.8s ease forwards;  
            transition: transform 1s;
            transform-origin: 100% 100%;
            animation: bounce-in-avatar 0.2s ease forwards;
            border-radius: 100%;  
            .default-avater-icon {
                img {
                    height: 24px;
                    width: 24px;
                }
                svg {
                    path {
                        fill: var(--avatar-icon-color);
                    }
                }
                span {
                    svg {
                        path {
                            fill: none;
                            stroke: var(--avatar-icon-color);
                        }
                    }
                }
            }
            .close-avater-icon {
                img {
                    height: 24px;
                    width: 24px;
                }
                svg {
                    path {
                        fill: var(--avatar-icon-color);
                    }
                }
                span {
                    svg {
                        path {
                            fill: none;
                            stroke: var(--avatar-icon-color);
                        }
                    }
                }
            }
            figure{
                line-height: 0;
                .custom-img-uploaded{
                    width: 100%;
                    height: 100%;
                    border-radius: 100%;
                }
                .custom-img-uploaded-minimize{
                    width: 100%;
                    height: 100%;
                    border-radius: 100%;
                    display: none;
                }
            } 
            .close-avater-icon{
                display: none;
            }
            .un-read-msg {
                position: absolute;
                right: 0;
                top: 0;
                background: #03904E;
                border: 1px solid var(--global-white-bg);
                border-radius: 32px;
                padding: 0;
                min-width: 14px;
                min-height: 14px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 700;
                font-size: 8px;
                line-height: 10px;
                color: var(--global-white);
            }
            &.click-to-rotate-icon{
                .default-avater-icon{
                    display: none;
                }
                .close-avater-icon{
                    display: block;
                }
                .un-read-msg {
                    display: none;
                }
                .custom-img-uploaded {
                    display: none;
                }
                .custom-img-uploaded-minimize {
                    display: block;
                }
            }
        }
        &.variation-1 {
            .content-info {
                .text-content {
                    border-radius: 8px 2px 8px 8px;
                }
            }
            .avatar-bg {
                border-radius: 32px 4px 32px 32px;

                .un-read-msg {
                    right: -3px;
                    top: -1px;
                }
            }
        }
        &.variation-2 {
            .content-info {
                .text-content {
                    &:first-child {
                        border-radius: 8px;
                    }
                    border-radius: 32px;
                }
                .primary-button {
                    border-radius: 32px;
                }
            }
            .avatar-bg {
                border-radius: 32px;
                width: 68px;
            }
        }
        &.variation-3 {
            .content-info {
                .text-content {
                    border-radius: 4px 4px 2px 4px;
                }
            }
            .avatar-bg {
                border-radius: 4px;

                .un-read-msg {
                    right: -1px;
                    top: -1px;
                }
            }
        }
        &.variation-4 {
            .avatar-bg {
                &::before{
                    content: "";
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    background: var(--avatar-bg);
                    left: 1px;
                    right: -29px;
                    margin: 0 auto;
                    z-index: 1;
                    transform: rotate(3deg);
                    bottom: 2px;
                    border: 1px solid var(--avatar-bg);
                    border-left: 0;
                    border-top: 0;
                }
            }
        }
    }
    &.avatar-minimize {
        .avatar-actions {
            .content-info{
                display: none;
            }
        }
    }
}

.animation-slide-up {
    animation-name: slide-up;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}
.animation-slide-up:nth-child(1) {
    animation-delay: 1s;
}
.animation-slide-up:nth-child(2) {
    animation-delay: 1.5s;
}
.animation-slide-up:nth-child(3) {
    animation-delay: 2s;
}