@import '../variables.scss';
.avatar-variations-footer {
    position: fixed;
    bottom: 40px;
    right: 40px;
    // position: absolute;
    // bottom: 0;
    // right: 0;
    overflow: inherit;
    animation: remove-hidden 0.1s ease forwards;
    @media (max-width: $media-mobile) {
        bottom: 15px;
        right: 10px;
    }
    .avatar-actions {
        display: flex;
        align-items: flex-end;
        position: relative;
        gap: 10px;
    
        // Type Gentle Animation
        @keyframes avatarType1Animation {
            0% {
              opacity: 0;
            }
            40%{
                height: auto;
                width: auto;
                padding: 11px;
            }
            100% { 
                opacity: 1;
                height: auto;
                width: auto;
                padding: 11px;
                transform: scale(1);
            }
        }
        @keyframes avatarType1Animation1 {
            0% {
              opacity: 0;
            }
            40%{
                height: auto;
                width: auto;
                padding: 11px;
            }
            100% { 
                opacity: 1;
                height: auto;
                width: auto;
                transform: scale(1);
                margin-top: 8px;
                padding: 11px;
            }
        }
        @keyframes avatarType1Animation2 {
            0% {
              opacity: 0;
            }
            40%{
                height: auto;
                width: auto;
                padding: 11px;
            }
            100% { 
                opacity: 1;
                height: auto;
                width: auto;
                transform: scale(1);
                margin-top: 8px;
                padding: 10px 16px;
            }
        }
        @keyframes avatarType1IconAnim {
            0% {
              opacity: 0;
            }
            40%{
                height: auto;
                width: auto;
                padding: 11px;
            }
            100% { 
                opacity: 1;
            }
        }

        // Type Bounce Animations
        @keyframes avatarType2Animation {
            0%,
            20%,
            53%,
            80%,
            100% {
                -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
                opacity: 1;
                height: auto;
                width: auto;
                padding: 11px;
            }
            
            40%,
            43% {
                -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
                transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
                -webkit-transform: translate3d(0, -8px, 0);
                transform: translate3d(0, -8px, 0);
            }
            
            70% {
                -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
                transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
                -webkit-transform: translate3d(0, -6px, 0);
                transform: translate3d(0, -6px, 0);
            }
            
            90% {
                -webkit-transform: translate3d(0, -2px, 0);
                transform: translate3d(0, -2px, 0);
            }
        }
        @keyframes avatarType2Animation1 {
            0%,
            20%,
            53%,
            80%,
            100% {
                -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
                opacity: 1;
                height: auto;
                width: auto;
                margin-top: 8px;
                padding: 11px;
            }
            
            40%,
            43% {
                -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
                transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
                -webkit-transform: translate3d(0, -2px, 0);
                transform: translate3d(0, -2px, 0);
            }
            
            70% {
                -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
                transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
                -webkit-transform: translate3d(0, -1px, 0);
                transform: translate3d(0, -1px, 0);
            }
            
            90% {
                -webkit-transform: translate3d(0, -0.5px, 0);
                transform: translate3d(0, -0.5px, 0);
            }
        }
        @keyframes avatarType2Animation2 {
            0%,
            20%,
            53%,
            80%,
            100% {
                -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
                opacity: 1;
                height: auto;
                width: auto;
                margin-top: 8px;
                padding: 10px 16px;
            }
            
            40%,
            43% {
                -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
                transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
                -webkit-transform: translate3d(0, -1px, 0);
                transform: translate3d(0, -1px, 0);
            }
            
            70% {
                -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
                transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
                -webkit-transform: translate3d(0, -0.5px, 0);
                transform: translate3d(0, -0.5px, 0);
            }
            
            90% {
                -webkit-transform: translate3d(0, -0px, 0);
                transform: translate3d(0, -0px, 0);
            }
        }


        &.avatar-gentle-animation{
            .content-info {
                .text-content{
                    opacity: 0;
                    height: 0px;
                    width: 0px;
                    padding: 0;                    
                    margin: 0;
                    &.text-heading-one{
                        transform: scale(0);
                        transform-origin: bottom top; 
                        animation: avatarType1Animation 0.3s ease forwards;
                        animation-delay: 2s;
                    }
                    &.text-heading-two{
                        transform-origin: bottom right;   
                        animation: avatarType1Animation1 0.8s ease forwards;
                        animation-delay: 3s;
                    }
                }
                .primary-button{
                    padding: 0;
                    width: 0px;
                    height: 0px;
                    opacity: 0;
                    &.btn-anim-send{
                        transform-origin: bottom top;   
                        animation: avatarType1Animation2 0.5s ease forwards;
                        animation-delay: 4s;
                    }
                }
            }
            .avatar-bg{
                animation: avatarType1IconAnim 0.3s ease forwards;
                animation-delay: 0.8s;
            }
        }

        &.avatar-instant-animation{
            .animation-slide-up {
                animation-name: slide-up;
                animation-duration: 1.5s;
                animation-fill-mode: forwards;
                opacity: 0;
            }
            .animation-slide-up:nth-child(1) {
                animation-delay: 1s;
            }
            .animation-slide-up:nth-child(2) {
                animation-delay: 1.5s;
            }
            .animation-slide-up:nth-child(3) {
                animation-delay: 2s;
            }
        }

        &.avatar-bounce-animation{
            .content-info {
                .text-content{
                    opacity: 0;
                    height: 0px;
                    width: 0px;
                    padding: 0;                    
                    margin: 0;
                    &.text-heading-one{
                        -webkit-transform-origin: center bottom;
                        -ms-transform-origin: center bottom;
                        transform-origin: center bottom;
                        -webkit-animation-duration: 1s;
                        animation-duration: 1s;
                        -webkit-animation-fill-mode: both;
                        animation-fill-mode: both;
                        animation: avatarType2Animation 1s ease forwards;
                        animation-delay: 2s;
                    }
                    &.text-heading-two{
                        -webkit-transform-origin: bottom right;
                        -ms-transform-origin: bottom right;
                        transform-origin: bottom right;
                        -webkit-animation-duration: 1s;
                        animation-duration: 1s;
                        -webkit-animation-fill-mode: both;
                        animation-fill-mode: both; 
                        animation: avatarType2Animation1 0.8s ease forwards;
                        animation-delay: 3s;
                    }
                }
                .primary-button{
                    padding: 0;
                    width: 0px;
                    height: 0px;
                    opacity: 0;
                    &.btn-anim-send{
                        -webkit-transform-origin: bottom right;
                        -ms-transform-origin: bottom right;
                        transform-origin: bottom right;
                        -webkit-animation-duration: 1s;
                        animation-duration: 1s;
                        -webkit-animation-fill-mode: both;
                        animation-fill-mode: both;
                        animation: avatarType2Animation2 0.8s ease forwards;
                        animation-delay: 4s;
                    }
                }
            }
            .avatar-bg{
                animation: bounce-in-avatar 0.2s ease forwards;
                animation-delay: 0.8s;
            }
        }

        &.bubble-align-block{
            flex-direction: column;
        }
        .content-info {
            display: flex;
            flex-direction: column;
            width: auto;
            flex: auto;
            align-items: flex-end;
            // position: absolute;
            transition: 0.3s all ease;
            // transform: scale(0) translateX(100%);
            // animation: leftrun 1s ease-in forwards 1s;
            // opacity: 0;
            @-webkit-keyframes leftrun {
                0% {
                    transform: translateX(100%);
                    opacity: 0;
                    height: 48px;
                }
        
                60% {
                    transform: none;
                    opacity: 0.5;
                    height: auto;
                }
        
                100% {
                    transform: translateX(0);
                    opacity: 1;
                }
            }
            .text-content {
                background: var(--global-white-bg);
                border: 1px solid var(--gloabl-border-color);
                box-shadow: 0px 4px 12px 2px rgba(32, 33, 36, 0.12);
                border-radius: 4px;
                display: inline-block;
                padding: 11px;
                position: relative;
                margin-bottom: 8px;                 
                h4 {
                    font-weight: 600;
                    font-size: $font-s-16;
                    line-height: 19px;
                    color: var(--avatar-text-colr);
                    margin-bottom: 4px;
                    white-space: nowrap;
                }
                .help-text-content {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: var(--avatar-text-colr);
                    white-space: nowrap;
                }
                .close-avatar-content {
                    position: absolute;
                    top: -8px;
                    right: -8px;
                    width: 20px;
                    height: 20px;
                    background: var(--global-white-bg);
                    border: 1px solid var(--gloabl-border-color);
                    border-radius: 32px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    padding: 0;
                    svg{
                        path{
                            fill: var(--gloabl-text-color);
                        }
                    }
                }
            }
            .primary-button {
                background: var(--avatar-send-msg-bg);
                box-shadow: 0px 4px 12px 2px rgba(32, 33, 36, 0.12);
                border-radius: 4px;
                height: 40px;
                padding: 10px 16px;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                color: var(--global_white);
                border: 0;
                white-space: nowrap;
            }
            .pwc-buttons {
                display: flex;
                padding: 0 2px 0 2px ;
            }
        }
        .bounce2 {
            animation: bounce2 2s ease infinite;
        }
        .avatar-bg {
            background: var(--avatar-bg);
            box-shadow: 0px 4px 6px -1px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.1);
            border-radius: 32px;
            width: 48px;
            height: 48px;
            padding: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            border: 0;
            cursor: pointer;
            position: relative;
            // animation: bounce2 0.8s ease forwards;  
            transition: transform 1s;
            transform-origin: 100% 100%;
            // animation: bounce-in-avatar 0.2s ease forwards;
            border-radius: 100%;  
            .default-avater-icon {
                img {
                    height: 24px;
                    width: 24px;
                }
                svg {
                    path {
                        fill: var(--avatar-icon-color);
                    }
                }
                span {
                    svg {
                        path {
                            fill: none;
                            stroke: var(--avatar-icon-color);
                        }
                    }
                }
            }
            .close-avater-icon {
                img {
                    height: 24px;
                    width: 24px;
                }
                svg {
                    path {
                        fill: var(--avatar-icon-color);
                    }
                }
                span {
                    svg {
                        path {
                            fill: none;
                            stroke: var(--avatar-icon-color);
                        }
                    }
                }
            }
            figure{
                line-height: 0;
                .custom-img-uploaded{
                    width: 100%;
                    height: 100%;
                    border-radius: 100%;
                    background: #FFFFFF;
                }
                .custom-img-uploaded-minimize{
                    width: 100%;
                    height: 100%;
                    border-radius: 100%;
                    display: none;
                    background: #FFFFFF;
                }
            } 
            .close-avater-icon{
                display: none;
            }
            .un-read-msg {
                position: absolute;
                right: 0;
                top: 0;
                background: #03904E;
                border: 1px solid var(--global-white-bg);
                border-radius: 32px;
                padding: 0;
                min-width: 14px;
                min-height: 14px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 700;
                font-size: 8px;
                line-height: 10px;
                color: var(--global_white);
            }
            &.click-to-rotate-icon{
                .default-avater-icon{
                    display: none;
                }
                .close-avater-icon{
                    display: block;
                }
                .un-read-msg {
                    display: none;
                }
                .custom-img-uploaded {
                    display: none;
                }
                .custom-img-uploaded-minimize {
                    display: block;
                }
            }
        }
        &.variation-1 {
            .content-info {
                .text-content {
                    border-radius: 8px 2px 8px 8px;
                }
            }
            .avatar-bg {
                border-radius: 32px 4px 32px 32px;

                .un-read-msg {
                    right: -3px;
                    top: -1px;
                }
            }
        }
        &.variation-2 {
            .content-info {
                .text-content {
                    &:first-child {
                        border-radius: 8px;
                    }
                    border-radius: 32px;
                }
                .primary-button {
                    border-radius: 32px;
                }
            }
            .avatar-bg {
                border-radius: 32px;
                width: 68px;
            }
        }
        &.variation-3 {
            .content-info {
                .text-content {
                    border-radius: 4px 4px 2px 4px;
                }
            }
            .avatar-bg {
                border-radius: 4px;

                .un-read-msg {
                    right: -1px;
                    top: -1px;
                }
            }
        }
        &.variation-4 {
            .avatar-bg {
                &::before{
                    content: "";
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    background: var(--avatar-bg);
                    left: 1px;
                    right: -29px;
                    margin: 0 auto;
                    z-index: 1;
                    transform: rotate(3deg);
                    bottom: 2px;
                    border: 1px solid var(--avatar-bg);
                    border-left: 0;
                    border-top: 0;
                }
            }
        }
    }
    &.avatar-minimize {
        .avatar-actions {
            .content-info{
                display: none;
            }
            .cobrowser-wrapper-elipse {
                display: none;
            }
        }
    }
}