@import "./animations.scss";

.light-theme{

    --global-theme-color:#4B4EDE;
    --global-white:#FFFFFF;
    --gloabl-text-color:#202124;
    --gloabl-text-desc-color:#4B5565;
    --gloabl-border-color:#E4E5E7;
    --gloabl-border-color-1:#BDC1C6;
    --scrollbar-bg:#aaaaaa;
    // Avatar Variables
        --avatar-bg: var(--v3-sdk-chat-branding--chat_bubble-bg-primary_color);
        --avatar-send-msg-bg: var(--v3-sdk-chat-branding--chat_bubble-bg-secondary_color);
    // End

    // Welcome screen Variables
        --welcome-bg:#F8FAFC;
        --welcome-shadow:0px 4px 12px 2px rgba(32,33,36,0.12);
        --welcome-header-bg: var(--v3-sdk-chat-branding--welcome_screen-background-color);
        --welcome-header-text-color: var(--v3-sdk-chat-branding--welcome_screen-top_fonts-color);
        --welcome-start-conv-bg:#FFFFFF;
        --welcome-start-conv-border:var(--gloabl-border-color);
        --welcome-start-conv-bot-bg:#E3E8EF;
        --welcome-start-conv-bot-title:var(--gloabl-text-color);
        --welcome-start-conv-bot-desc:var(--gloabl-text-desc-color);
        --welcome-start-conv-quick-btn-bg:#FFFFFF;
        --welcome-start-conv-quick-btn-border:#E5E5E5;
        --welcome-start-conv-quick-btn-text:#404040;
        --welcome-start-conv-search-bg:#FFFFFF;
        --welcome-start-conv-search-border:#BDC1C6;
        --welcome-start-conv-button-bg: var(--v3-sdk-chat-branding--welcome_screen-starter_box-start_conv_button_color);
        --welcome-start-conv-button-border:var(--global-theme-color);
        --welcome-start-conv-button-color:var(--v3-sdk-chat-branding--welcome_screen-starter_box-start_conv_text_color);
        --welcome-footer-bg: var(--v3-sdk-chat-branding--welcome_screen-bottom_background-color);   //  #F8FAFC
        --welecome-footer-text-color:#9AA4B2;
    // End

    // Chat Widget Header Variables;
        --chat-widget-header-bg: var(--v3-sdk-chat-branding--header-bg-bg_color);
        --chat-widget-header-border:#EEF2F6;
        --chat-widget-header-bg-large:linear-gradient(180deg, var(--v3-sdk-chat-branding--header-bg-bg_color) 0%, var(--v3-sdk-chat-branding--header-bg-bg_color) 40.67%, rgba(255, 255, 255, 0) 80.38%);
        --chat-widget-header-bg-large-info-bg:#FFFFFF;
        --chat-widget-header-bg-large-actions-color:#FFFFFF;
        --chat-widget-header-bot-name-color: var(--v3-sdk-chat-branding--header-title-color);
        --chat-widget-header-bot-name-desc: var(--v3-sdk-chat-branding--header-sub_title-color);
        --chat-widget-header-actions-color:#697586;
        --chat-widget-header-img-border:#FFFFFF;
    // End

    // Chat Widget Body Variables;
        --chat-widget-body-bg:var(--v3-sdk-chat-branding--body-background-bg);
    // End

    // Chat Widget Footer Variables;
        --chat-widget-footer-bg: #FFFFFF;
        --chat-widget-compose-bar-bg: var(--v3-sdk-chat-branding--footer-bg-bg_color);
        --chat-widget-compose-bar-border:rgba(105, 117, 134, 0.05);
        --chat-widget-compose-bar-text-area-bg: var(--v3-sdk-chat-branding--footer-compose_bar-bg_color);
        --chat-widget-compose-bar-text-area-border: var(--v3-sdk-chat-branding--footer-compose_bar-outline-color);   //#E5E5E5;
        --chat-widget-compose-bar-text-area-color:#202939;
        --chat-widget-compose-bar-text-area-placeholder-color:#202939;
        --chat-widget-compose-bar-voice-speak-info-text:#697586;
        --chat-widget-compose-bar-voice-icon-bg:var(--global-theme-color);
        --chat-widget-compose-bar-voice-icon-border:#FFFFFF;
        --chat-widget-compose-bar-voice-icon-color:#FFFFFF;
        --chat-widget-compose-bar-voice-speak-msg-bg:#FFFFFF;
        --chat-widget-compose-bar-voice-speak-msg-selected-bg:rgba(75, 78, 222, 0.05);
        --chat-widget-compose-bar-voice-speak-msg-color:var(--global-theme-color);
        --chat-widget-compose-bar-voice-speak-msg-border:var(--global-theme-color);
    // End

    // Bot Bubble Messages Variables
        --bot-bubble-text-color:#697586;
        --bot-bubble-msg-bg: var(--v3-sdk-chat-branding--body-bot_message-bg_color);
        --bot-bubble-msg-bg-hover:#E3E4E5;
        --bot-bubble-msg-color: var(--v3-sdk-chat-branding--body-bot_message-color);
        --bot-bubble-img-border:#FFFFFF;
    //End   

    // Name
        --name-color: var(--v3-sdk-chat-branding--body-agent_message-title_color);
    // End

    // Time stamp
        --time-stamp-color: var(--v3-sdk-chat-branding--body-time_stamp-color);     // #697586
    //End

    // Agent Bubble Messages Variables
        --agent-bubble-text-color:#697586;
        --agent-bubble-msg-bg: var(--v3-sdk-chat-branding--body-user_message-bg_color);
        --agent-bubble-msg-bg-hover:#393BC5;
        --agent-bubble-msg-color: var(--v3-sdk-chat-branding--body-user_message-color);
        --agent-bubble-img-border:#FFFFFF;
        --agent-bubble-read-status-icon-color:#22C55E;
    //End

    // Date Seperator styles
        --date-seperator-bg:#EEF2F6;
        --date-seperator-bg-1:#E3E8EF;
        --date-seperator-line-border:#E3E8EF;
        --date-seperator-color:#697586;
    // End

    // Template Styles

        // Button Template
        --button-temp-bg:#FFFFFF;
        --button-temp-border:#E5E5E5;
        --button-temp-color:#404040;
        --button-temp-bg-hover:rgba(0, 0, 0, 0.05);
        --button-temp-bg-variation-1:rgba(75, 78, 222, 0.07);
        --button-temp-variation-1-border:transparent;
        --button-temp-variation-1-color:var(--global-theme-color);
        --button-temp-bg-variation-1-hover:linear-gradient(0deg, rgba(75, 78, 222, 0.07) 0%, rgba(75, 78, 222, 0.07) 100%), rgba(75, 78, 222, 0.07);
        --button-temp-bg-variation-2:var(--global-theme-color);
        --button-temp-variation-2-border:var(--global-theme-color);
        --button-temp-variation-2-color:#FFFFFF;
        --button-temp-bg-variation-2-hover:linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), var(--global-theme-color);
        // End

        // Card Template
        --card-main-wrapper-bg:#F8F9FA;
        --card-main-wrapper-border:var(--gloabl-border-color);
        --card-heading-title:var(--gloabl-text-color);
        --card-temp-border:var(--gloabl-border-color);
        --card-temp-bg:#FFFFFF;
        --card-temp-color:var(--gloabl-text-color);
        --card-temp-h1-color:#000;
        --card-temp-p-color:#697586;   
        --card-temp-view-more-bg:#FFFFFF;
        --card-temp-view-more-color:var(--global-theme-color);
        --card-temp-view-more-border:var(--global-theme-color);
        --card-temp-border-divided-bg:#EBECED;
        // End     

        // Form Template
        --form-temp-bg:#F8FAFC;
        --form-temp--text-color:var(--gloabl-text-color);
        --form-temp-input-bg:#FFFFFF;
        --form-temp-input-box-shadow:0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        --form-temp-input-placeholder:#A3A3A3;
}   

.dark-theme{

    --global-theme-color:#DE6449;
    --global-white:#FFFFFF;
    --gloabl-text-color:#202124;
    --gloabl-text-desc-color:#4B5565;
    --gloabl-border-color:#E4E5E7;
    --gloabl-border-color-1:#BDC1C6;
    --scrollbar-bg:#697586;
    // Avatar Variables
        --avatar-bg: var(--v3-sdk-chat-branding--chat_bubble-bg-primary_color);
        --avatar-send-msg-bg: var(--v3-sdk-chat-branding--chat_bubble-bg-secondary_color);
    // End

    // Welcome screen Variables
        --welcome-bg:#121926;
        --welcome-shadow:0px 4px 12px 2px rgba(32, 33, 36, 0.12);
        --welcome-header-bg: var(--v3-sdk-chat-branding--welcome_screen-background-color);
        --welcome-header-text-color: var(--v3-sdk-chat-branding--welcome_screen-top_fonts-color);;
        --welcome-start-conv-bg:#202939;
        --welcome-start-conv-border:#364152;
        --welcome-start-conv-bot-bg:#364152;
        --welcome-start-conv-bot-title:#FFF;
        --welcome-start-conv-bot-desc:#9AA4B2;
        --welcome-start-conv-quick-btn-bg:#FFFFFF;
        --welcome-start-conv-quick-btn-border:#E5E5E5;
        --welcome-start-conv-quick-btn-text:#404040;
        --welcome-start-conv-search-bg:#FFFFFF;
        --welcome-start-conv-search-border:#BDC1C6;
        --welcome-start-conv-button-bg: var(--v3-sdk-chat-branding--welcome_screen-starter_box-start_conv_button_color);
        --welcome-start-conv-button-border:var(--global-theme-color);
        --welcome-start-conv-button-color:var(--v3-sdk-chat-branding--welcome_screen-starter_box-start_conv_text_color);
        --welcome-footer-bg: var(--v3-sdk-chat-branding--welcome_screen-bottom_background-color);   //  #202939
        --welecome-footer-text-color:#FFFFFF;
    // End

    // Chat Widget Header Variables;
        --chat-widget-header-bg: var(--v3-sdk-chat-branding--header-bg-bg_color);
        --chat-widget-header-border:#202939;
        --chat-widget-header-bg-large:#202939;
        --chat-widget-header-bg-large-info-bg:#121926;
        --chat-widget-header-bg-large-actions-color:#FFFFFF;
        --chat-widget-header-bot-name-color: var(--v3-sdk-chat-branding--header-title-color);
        --chat-widget-header-bot-name-desc: var(--v3-sdk-chat-branding--header-sub_title-color);
        --chat-widget-header-actions-color:#697586;
        --chat-widget-header-img-border:#FFFFFF;
    // End

    // Chat Widget Body Variables;
        --chat-widget-body-bg: var(--v3-sdk-chat-branding--body-background-bg);         // #121926;
    // End

    // Chat Widget Footer Variables;
        --chat-widget-footer-bg: #202939;
        --chat-widget-compose-bar-bg: var(--v3-sdk-chat-branding--footer-bg-bg_color);
        --chat-widget-compose-bar-border:rgba(105, 117, 134, 0.05);
        --chat-widget-compose-bar-text-area-bg: var(--v3-sdk-chat-branding--footer-compose_bar-bg_color);
        --chat-widget-compose-bar-text-area-border: var(--v3-sdk-chat-branding--footer-compose_bar-outline-color);  // #364152;
        --chat-widget-compose-bar-text-area-color:#FFFFFF;
        --chat-widget-compose-bar-text-area-placeholder-color:#697586;
        --chat-widget-compose-bar-voice-speak-info-text:#697586;
        --chat-widget-compose-bar-voice-icon-bg:var(--global-theme-color);
        --chat-widget-compose-bar-voice-icon-border:#FFFFFF;
        --chat-widget-compose-bar-voice-icon-color:#FFFFFF;
        --chat-widget-compose-bar-voice-speak-msg-bg:#FFFFFF;
        --chat-widget-compose-bar-voice-speak-msg-selected-bg:rgba(75, 78, 222, 0.05);
        --chat-widget-compose-bar-voice-speak-msg-color:var(--global-theme-color);
        --chat-widget-compose-bar-voice-speak-msg-border:var(--global-theme-color);
    // End

    // Bot Bubble Messages Variables
        --bot-bubble-text-color:#697586;
        --bot-bubble-msg-bg: var(--v3-sdk-chat-branding--body-bot_message-bg_color);
        --bot-bubble-msg-bg-hover:#364152;
        --bot-bubble-msg-color: var(--v3-sdk-chat-branding--body-bot_message-color);
        --bot-bubble-img-border:#FFFFFF;
    //End   

    // Name
        --name-color: var(--v3-sdk-chat-branding--body-agent_message-title_color);
    // End

    // Time stamp
        --time-stamp-color: var(--v3-sdk-chat-branding--body-time_stamp-color);     // #697586
    //End

    // Agent Bubble Messages Variables
        --agent-bubble-text-color:#697586;
        --agent-bubble-msg-bg: var(--v3-sdk-chat-branding--body-user_message-bg_color);
        --agent-bubble-msg-bg-hover:#393BC5;
        --agent-bubble-msg-color: var(--v3-sdk-chat-branding--body-user_message-color);
        --agent-bubble-img-border:#FFFFFF;
        --agent-bubble-read-status-icon-color:#22C55E;
    //End

    // Date Seperator styles
        --date-seperator-bg:red;
        --date-seperator-bg-1:#E3E8EF;
        --date-seperator-line-border:#E3E8EF;
        --date-seperator-color:#697586;
    // End

    // Template Styles

        // Button Template
        --button-temp-bg:#FFFFFF;
        --button-temp-border:#E5E5E5;
        --button-temp-color:#404040;
        --button-temp-bg-hover:rgba(0, 0, 0, 0.05);
        --button-temp-bg-variation-1:rgba(75, 78, 222, 0.07);
        --button-temp-variation-1-border:transparent;
        --button-temp-variation-1-color:var(--global-theme-color);
        --button-temp-bg-variation-1-hover:linear-gradient(0deg, rgba(75, 78, 222, 0.07) 0%, rgba(75, 78, 222, 0.07) 100%), rgba(75, 78, 222, 0.07);
        --button-temp-bg-variation-2:var(--global-theme-color);
        --button-temp-variation-2-border:var(--global-theme-color);
        --button-temp-variation-2-color:#FFFFFF;
        --button-temp-bg-variation-2-hover:linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), var(--global-theme-color);
        // End

        // Card Template
        --card-main-wrapper-bg:#F8F9FA;
        --card-main-wrapper-border:var(--gloabl-border-color);
        --card-heading-title:var(--gloabl-text-color);
        --card-temp-border:var(--gloabl-border-color);
        --card-temp-bg:#FFFFFF;
        --card-temp-color:var(--gloabl-text-color);
        --card-temp-h1-color:#000;
        --card-temp-p-color:#697586;   
        --card-temp-view-more-bg:#FFFFFF;
        --card-temp-view-more-color:var(--global-theme-color);
        --card-temp-view-more-border:var(--global-theme-color);
        --card-temp-border-divided-bg:#EBECED;
        // End
}

.theme-1{

    --global-theme-color:#DE6449;
    --global-white:#FFFFFF;
    --gloabl-text-color:#202124;
    --gloabl-text-desc-color:#4B5565;
    --gloabl-border-color:#E4E5E7;
    --gloabl-border-color-1:#BDC1C6;
    --scrollbar-bg:var(--global-theme-color);

    // Welcome screen Variables
        --welcome-bg:#F8FAFC;
        --welcome-shadow:0px 4px 12px 2px rgba(32,33,36,0.12);
        --welcome-header-bg:#DE6449;
        --welcome-header-h1-text-color:#fff9;
        --welcome-header-text-color:#FFFFFF;
        --welcome-start-conv-bg:#FFFFFF;
        --welcome-start-conv-border:var(--gloabl-border-color);
        --welcome-start-conv-bot-bg:#E3E8EF;
        --welcome-start-conv-bot-title:var(--gloabl-text-color);
        --welcome-start-conv-bot-desc:var(--gloabl-text-desc-color);
        --welcome-start-conv-quick-btn-bg:#FFFFFF;
        --welcome-start-conv-quick-btn-border:#E5E5E5;
        --welcome-start-conv-quick-btn-text:#404040;
        --welcome-start-conv-search-bg:#FFFFFF;
        --welcome-start-conv-search-border:#BDC1C6;
        --welcome-start-conv-button-bg:#DE6449;
        --welcome-start-conv-button-border:#DE6449;
        --welcome-start-conv-button-color:#FFFFFF;
        --welcome-footer-bg:#F8FAFC;
        --welecome-footer-text-color:#9AA4B2;
    // End

    // Chat Widget Header Variables;
        --chat-widget-header-bg:#ffffff;
        --chat-widget-header-border:#EEF2F6;
        --chat-widget-header-bg-large:linear-gradient(180deg, var(--global-theme-color) 0%, var(--global-theme-color) 40.67%, rgba(255, 255, 255, 0) 80.38%);
        --chat-widget-header-bg-large-info-bg:#FFFFFF;
        --chat-widget-header-bg-large-actions-color:#FFFFFF;
        --chat-widget-header-bot-name-color:#000000;
        --chat-widget-header-bot-name-desc:#697586;
        --chat-widget-header-actions-color:#697586;
        --chat-widget-header-img-border:#FFFFFF;
    // End
    
    // Chat Widget Body Variables;
        --chat-widget-body-bg:#FFFFFF;
    // End

    // Chat Widget Footer Variables;
        --chat-widget-footer-bg:#FFFFFF;
        --chat-widget-compose-bar-bg:rgba(105, 117, 134, 0.1);
        --chat-widget-compose-bar-border:rgba(105, 117, 134, 0.05);
        --chat-widget-compose-bar-text-area-bg:#FFFFFF;
        --chat-widget-compose-bar-text-area-border:#E5E5E5;
        --chat-widget-compose-bar-text-area-color:#202939;
        --chat-widget-compose-bar-text-area-placeholder-color:#202939;
        --chat-widget-compose-bar-voice-speak-info-text:#697586;
        --chat-widget-compose-bar-voice-icon-bg:var(--global-theme-color);
        --chat-widget-compose-bar-voice-icon-border:#FFFFFF;
        --chat-widget-compose-bar-voice-icon-color:#FFFFFF;
        --chat-widget-compose-bar-voice-speak-msg-bg:#FFFFFF;
        --chat-widget-compose-bar-voice-speak-msg-selected-bg:rgba(75, 78, 222, 0.05);
        --chat-widget-compose-bar-voice-speak-msg-color:var(--global-theme-color);
        --chat-widget-compose-bar-voice-speak-msg-border:var(--global-theme-color);
    // End

    // Bot Bubble Messages Variables
        --bot-bubble-text-color:#697586;
        --bot-bubble-msg-bg:#F0F1F2;
        --bot-bubble-msg-bg-hover:#F0F1F2;
        --bot-bubble-msg-color:#000000;
        --bot-bubble-img-border:#FFFFFF;
    //End  
    
    // Name
        --name-color: #000000;
    // End

    // Time stamp
        --time-stamp-color: #697586
    //End
    
    // Agent Bubble Messages Variables
        --agent-bubble-text-color:#697586;
        --agent-bubble-msg-bg:#DE6449;
        --agent-bubble-msg-bg-hover:#DE6449;
        --agent-bubble-msg-color:#FFFFFF;
        --agent-bubble-img-border:#FFFFFF;
        --agent-bubble-read-status-icon-color:#22C55E;
    //End

    // Date Seperator styles
        --date-seperator-bg:#EEF2F6;
        --date-seperator-bg-1:#E3E8EF;
        --date-seperator-line-border:#E3E8EF;
        --date-seperator-color:#697586;
    // End

    // Template Styles

        // Button Template
        --button-temp-bg:#FFFFFF;
        --button-temp-border:#E5E5E5;
        --button-temp-color:#404040;
        --button-temp-bg-hover:rgba(0, 0, 0, 0.05);
        --button-temp-bg-variation-1:rgba(75, 78, 222, 0.07);
        --button-temp-variation-1-border:transparent;
        --button-temp-variation-1-color:var(--global-theme-color);
        --button-temp-bg-variation-1-hover:linear-gradient(0deg, rgba(75, 78, 222, 0.07) 0%, rgba(75, 78, 222, 0.07) 100%), rgba(75, 78, 222, 0.07);
        --button-temp-bg-variation-2:var(--global-theme-color);
        --button-temp-variation-2-border:var(--global-theme-color);
        --button-temp-variation-2-color:#FFFFFF;
        --button-temp-bg-variation-2-hover:linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), var(--global-theme-color);
        // End

        // Card Template
        --card-main-wrapper-bg:#F8F9FA;
        --card-main-wrapper-border:var(--gloabl-border-color);
        --card-heading-title:var(--gloabl-text-color);
        --card-temp-border:var(--gloabl-border-color);
        --card-temp-bg:#FFFFFF;
        --card-temp-color:var(--gloabl-text-color);
        --card-temp-h1-color:#000;
        --card-temp-p-color:#697586;   
        --card-temp-view-more-bg:#FFFFFF;
        --card-temp-view-more-color:var(--global-theme-color);
        --card-temp-view-more-border:var(--global-theme-color);
        --card-temp-border-divided-bg:#EBECED;
        // End

}



// STANDARD SIZES
$font-s-5:0.3125rem;
$font-s-6:0.375rem;
$font-s-7:0.4375rem;
$font-s-8:0.5rem;
$font-s-9:0.5625rem;
$font-s-10:0.625rem;
$font-s-11:0.6875rem;
$font-s-12:0.75rem;
$font-s-13:0.8125rem;
$font-s-14:0.875rem;
$font-s-15:0.9375rem;
$font-s-16:1rem;
$font-s-17:1.0625rem;
$font-s-18:1.125rem;
$font-s-19:1.1875rem;
$font-s-20:1.25rem;
$font-s-21:1.3125rem;
$font-s-22:1.375rem;
$font-s-23:1.4375rem;
$font-s-24:1.5rem;
$font-s-25:1.5625rem;
$font-s-26:1.625rem;
$font-s-27:1.6875rem;
$font-s-28:1.75rem;
$font-s-29:1.8125rem;
$font-s-30:1.875rem;
$font-s-31:1.9375rem;
$font-s-32:2rem;
$font-s-33:2.0625rem;
$font-s-40:2.5rem;

// Button primary

.kr-button-primary{
    border-radius: 4px;
    padding: 5px 16px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    height: 30px;
    width: 100%;
    cursor: pointer;
    text-align: center;
    transition: 0.2s all ease;
    background: var(--button-temp-bg-variation-2);
    border: 1px solid var(--button-temp-variation-2-border);
    color: var(--button-temp-variation-2-color);
    &.lg{
        padding: 10px 16px;
        height: 40px;
        font-size: 14px;
    }
    &:hover{
        background: var(--button-temp-bg-variation-2-hover);
    }
}
.kr-button-secondary{
    width: 100%;
    background: var(--button-temp-bg);
    border: 1px solid var(--button-temp-border);
    border-radius: 4px;
    padding: 5px 16px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    height: 30px;
    color: var(--button-temp-color);
    cursor: pointer;
    text-align: center;
    transition: 0.2s all ease;
    &.lg{
        padding: 10px 16px;
        height: 40px;
        font-size: 14px;
    }
    &:hover{
        background: var(--button-temp-bg-hover);
    }
}

.kr-button-blue-light{
    width: 100%;
    background: #EAF1FC;
    border: 1px solid #EAF1FC;
    border-radius: 4px;
    padding: 5px 16px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    height: 30px;
    color: #2B75E4;
    cursor: pointer;
    text-align: center;
    transition: 0.2s all ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    &.lg{
        padding: 10px 16px;
        height: 40px;
        font-size: 14px;
    }
    &:hover{
        background: #EAF1FC;
    }
}