.kore-chat-window .buttonTmplContent .buttonTmplContentBox {
    float: left;
    color: #333;
    border-radius: 12px;
    padding: 0;
    font-size: 14px;
    -webkit-animation: message-left ease-in-out 2s forwards;
    -moz-animation: message-left ease-in-out 2s forwards;
    animation: message-left ease-in-out 2s forwards;
    margin: 0;
    border: 1px solid var(--sdk-chat-widow-primary-bg-color);
    max-width: 95%;
    line-height: 1.5;
}

.kore-chat-window .buttonTmplContent .buttonTmplContentHeading {
    text-align: left;
    color: var(--sdk-chat-window-bot-bubble-font-clr);
    background: var(--sdk-chat-window-bot-bubble-bg);
    margin: 0!important;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}



.kore-chat-window .buttonTmplContent .buttonTmplContentChild {
    color: var(--sdk-chat-window-btn-font-clr);
    border-top: 1px solid var(--sdk-chat-widow-primary-bg-color);
    padding: 10px;
    margin: 0;
    text-align: center;
    cursor: pointer;
    background-color: var(--sdk-chat-window-btn-default-bg);
}
.kore-chat-window .buttonTmplContent .buttonTmplContentChild:hover{
    color: var(--sdk-chat-window-btn-hover-font-clr);
    /* border-color: var(--sdk-chat-window-btn-hover-border-clr); */
    background-color: var(--sdk-chat-window-btn-hover-bg);
}

.kore-chat-window .buttonTmplContent .buttonTmplContentHeading img{
    max-width: 100%;
    height: auto;
    padding-top: 5px;
}

[dir="rtl"].kore-chat-window .buttonTmplContent .buttonTmplContentBox{
    float:right;
}
[dir="rtl"].kore-chat-window .buttonTmplContent .buttonTmplContentHeading{
    text-align: right;
}