// Button Template

.button-template-container{
    padding: 6px 12px 6px 45px;
    display: inline-block;
    width: 100%;
    animation-name: left-to-right-slide-anim;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    .button-temp{
        display: flex;
        flex-wrap: wrap;
        transition: 0.2s all ease;
        &.full-width-buttons{
            flex-direction: column;
        }
        &.stack-buttons{
            display: block;
            .kr-btn{
                display: block;
                width: auto;
                margin-bottom: 8px;
            }
        }
        &.button-variation-1{
            .kr-btn{
                background: var(--button-temp-bg-variation-1);
                border: 1px solid var(--button-temp-variation-1-border);
                color: var(--button-temp-variation-1-color);
                &:hover{
                    background: var(--button-temp-bg-variation-1-hover);
                }
            }
        }
        &.button-variation-2{
            .kr-btn{
                background: var(--button-temp-bg-variation-2);
                border: 1px solid var(--button-temp-variation-2-border);
                color: var(--button-temp-variation-2-color);
                &:hover{
                    background: var(--button-temp-bg-variation-2-hover);
                }
            }
        }
        .kr-btn{
            background: var(--button-temp-bg);
            border: 1px solid var(--button-temp-border);
            border-radius: 4px;
            padding: 9px 16px;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: var(--button-temp-color);
            cursor: pointer;
            margin: 4px;
            text-align: center;
            transition: 0.2s all ease;
            &:hover{
                background: var(--button-temp-bg-hover);
            }
        }
    }
}

// End

.retail-assist-theme{
    .button-template-container {
        .button-temp.button-variation-2 {
            .kr-btn{
                background: #344054;
                width: 40%;
                border:1px solid #344054;
            }
        }
    }
}