
.chat-widgetwrapper-main-container{
    height: 100%;
    box-shadow: var(--chat-widget-box-shadow);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    transition: transform 1s;
    transform-origin: 100% 100%;
    display: none;
    &.minimize{
        animation: bounce-in 0.5s ease forwards;
        display: flex;
      }
    &.minimizeQuick{   
        transform-origin: bottom right;            
        animation: quick 0.3s ease forwards;
        display: flex;
    }
    &.minimizeSmooth{   
        transform-origin: bottom right;            
        animation: quick 1s ease forwards;
        display: flex;
    }
}

.retail-assist-theme{
    .chat-widget-header{
        border-radius: 4px 4px 0px 0px;
        border-bottom: 1px solid var(--gray-modern-100, #EEF2F6);
        background: var(--gradient-gray-90060045-deg, linear-gradient(45deg, #101828 0%, #475467 100%));
        .info-content-data {
            .content-text {
                color: #fff;
                h1{
                    color: #fff;
                }
                h2{
                    color: #fff;
                }
            }
        }

    }
    .chat-widget-body-wrapper {
        height: calc(100% - 10px) !important;
        overflow: auto;    
        background: linear-gradient(45deg, rgba(245, 237, 71, 0.12) 14.64%, rgba(128, 245, 232, 0.12) 85.36%);
    }
}