
.imageVariables{
  --caremark-background:  url('');
  
}
.KoreSearchAssistant {
    font-size: 14px;
    font-weight: 400;
    height: 100%;
    background: #eeeeee;
  }
  .KoreSearchAssistant .ksa-header {
    background: linear-gradient(180deg, #45A2CE 0%, #1D86E8 22.92%, #35249E 100%);
    align-items: center;
    height: 50px;
    width: 100%;
    display: flex;
    padding: 0 227px;
    justify-content: space-between;
  }
  .KoreSearchAssistant .ksa-header{
    visibility: hidden;
  }
  .KoreSearchAssistant .ksa-menu{
    visibility: hidden;
  }
  .KoreSearchAssistant .info-section{
    visibility: hidden;
  }
  .KoreSearchAssistant .card-section{
    visibility: hidden;
  }
  .futureBank .KoreSearchAssistant .ksa-header{
   visibility: visible;
  }
  .futureBank .KoreSearchAssistant .ksa-menu{
    visibility: visible;
  }
  .futureBank .KoreSearchAssistant .info-section{
    visibility: visible;
  }
  .futureBank .KoreSearchAssistant .card-section{
    visibility: visible;
  }
  .cvsCareMark .KoreSearchAssistant{
    background-image: url('../libs/images/careMarkBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .cdc .KoreSearchAssistant{
   display: none !important;
  }
  .cdc .dem-screen-containers{
    display: block !important;
   }
  .pfizer .KoreSearchAssistant{
    background-image: url('../libs/images/pfizerBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .pfizer .search-container .right-side-icons .help-icon {
    display: none !important;
  }
  .pfizer .search-container .greetingMsg .search-greeting-box {
    background: linear-gradient(45deg, #fdfdfd, #c1c1c1);
    border: 1px solid #c1c1c1;
  }
  .pfizer .search-container .right-side-icons .telephone-icon {
    display: block !important;
  }
  .KoreSearchAssistant .ksa-header .ksa-logo {
    width: 286px;
    padding: 12px 0;
    text-align: left;
  }
  .KoreSearchAssistant .ksa-header .ksa-logo .logo {
    cursor: pointer;
    outline: 0;
  }
  .KoreSearchAssistant .ksa-header .ksa-login {
    width: 286px;
    text-align:right
  }
  .KoreSearchAssistant .ksa-header .ksa-login .menu-link {
    display: inline-block;
    cursor: pointer;
    color: #fff;
  }
 
  .KoreSearchAssistant .ksa-header .ksa-login .menu-link.menu-link-img .userName{
    position: relative;
    top: -9px;
  }
  .KoreSearchAssistant .ksa-header .ksa-login .menu-link.menu-link-img .avatarIconDiv .user-gray {
    width: 30px;
    height: 30px;
    margin-left: 8px;
  }
  .KoreSearchAssistant .info-section {
    background: linear-gradient(90.44deg, #666666 4.31%, #3E3E3E 81.91%);
    color: #fff;
    padding: 62px 227px;
  }
  .KoreSearchAssistant .info-section .content {
    width: 360px;
  }
  .KoreSearchAssistant .info-section .content .main-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 32px;
    padding-right: 110px;
    margin-bottom: 5px;
  }
  .KoreSearchAssistant .info-section .content .desc-text {
    opacity: 0.5;
    line-height: 18px;
    font-size: 13px;
  }
  .KoreSearchAssistant .info-section .content a {
    padding: 9px 20px;
    background: #fff;
    text-decoration: none;
    border-radius: 6px;
    display: inline-block;
    font-size: 12px;
    margin-top: 18px;
    color: #3169aa;
    font-weight: bold;
  }
  .KoreSearchAssistant .card-section {
    padding: 50px 260px;
    display: flex;
  }
  .KoreSearchAssistant .card-section .card-content {
    width: 33%;
    margin: 0 5px;
  }
  .KoreSearchAssistant .card-section .card-content .title {
    color: #3169aa;
    font-weight: 700;
    margin-bottom: 18px;
  }
  .KoreSearchAssistant .card-section .card-content .img-block img {
    width: 100%;
  }
  .KoreSearchAssistant .card-section .card-content .desc-info {
    font-size: 13px;
    color: #202124;
    line-height: 19px;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .KoreSearchAssistant .card-section .card-content a {
    display: inline-block;
    padding: 6px 15px;
    background: #3169aa;
    border-radius: 6px;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
  }



  .login-screen{
    position: fixed;
    background: #fff;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    z-index: 111111111;
    background-repeat: no-repeat;
    background-image: url("../images/login-screen-1.png");
  }
  .login-screen .login-container{
    width: 402px;
    background: #FFFFFF;
    /* box-shadow: 0px 3px 30px rgba(0.32, 0.33, 0.36, 0.15%), 0px 1px 2px rgba(0.32, 0.33, 0.36, 0.10%); */
    box-shadow: 0px 3px 30px rgb(32 33 36 / 15%), 0px 1px 2px rgb(32 33 36 / 10%);
    border-radius: 10px;
    padding: 30px 65px;
    position: relative;
  }
  .login-screen .login-container form{
    margin: 0;
  }
  .login-screen .login-container .heading{
    font-weight: bold;
    font-size: 16px;
    color: #3C4043;
    text-align: center;
    margin-bottom: 10px;
  }
  .login-screen .login-container .cardDesc {
    font-weight: normal;
    font-size: 12px;
    color: #5F6368;
    margin-bottom: 0;
    padding: 0 20px;
    text-align: center;
    margin: 0 0 15px 0;
  }

  .login-screen .login-container .input-form{
    border: 1px solid #E4E5E7 !important;
    border-radius: 4px;
    width: 100%;
    color: #202124;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 15px;
    width: 100%;
    height: 34px;
    padding: 5px 10px;
    outline: 0 !important;
  }
  .login-screen .login-container .sign-in-btn{
    width: 100%;
    margin: 0;
    background-color: #0D6EFD;
    border: 1px solid #0D6EFD;
    color: #fff;
    height: 34px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  .login-screen .login-container .sign-in-btn:hover{
    background: #0156d4;
    border: 1px solid #0156d4;
  }

  .login-screen .login-container .cancel-btn{
    border: 1px solid #BDC1C6;
    background: #fff;
    padding: 0px 20px;
    height: 34px;    
    border-radius: 4px;
    color: #5F6368;
    min-width: 60px;
    text-align: center;
    transition: 0.2s all ease-in;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    font-size: 14px;
  }

  .login-screen .login-container .cancel-btn:hover{
    background: #F8F9FA;
  }













  /* Demo changes 6-8-21 */


  .dem-screen-containers {
    padding-top: 70px;
  }
  .dem-screen-containers .header-sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px 10px 45px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(32,33,36,0.15);
    height: 70px;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 2;
 }
  .dem-screen-containers .header-sec .logo-with-img {
    position: relative;
    width: 5%;
 }
  .dem-screen-containers .header-sec .logo-with-img .logo-bg {
    width: 39px;
    height: 39px;
    background: linear-gradient(136.61deg,#FF784B 14.25%,#FFFFFF 82.89%), #FFF1ED;
    opacity: 0.5;
    border-radius: 100%;
 }
  .dem-screen-containers .header-sec .logo-with-img .logo-name {
    font-weight: 600;
    font-size: 18px;
    line-height: 14px;
    color: #07377F;
    position: absolute;
    left: 18px;
    top: 13px;
 }   
  .dem-screen-containers .header-sec .action-header {
    display: flex;
    align-items: center;
    width: 83%;
    justify-content: center;
 }
  .dem-screen-containers .header-sec .action-header .action-name {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #07377F;
    padding: 5px 0;
    cursor: pointer;
    margin: 0 16px;
    position: relative;
    text-decoration: none !important;
 }
  .dem-screen-containers .header-sec .action-header .action-name:hover {
    /* font-weight: bold; */
 }
  .dem-screen-containers .header-sec .action-header .action-name.active-name {
    font-weight: bold;
 }
 .dem-screen-containers .header-sec .action-header .action-name.active-name::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #07377F;
  bottom: -20px;
}
  .dem-screen-containers .header-sec .name-with-profile {
    display: flex;
    align-items: center;
    width: 12%;
    justify-content: flex-end;
 }
  .dem-screen-containers .header-sec .name-with-profile .user-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #07377F;
    margin-right: 8px;
 }

 
.dem-screen-containers .header-sec .name-with-profile .pro-img{
  position: relative;
  cursor: pointer;
}
.dem-screen-containers .header-sec .name-with-profile .pro-img img{
  width: 40px;
  height: 40px;
}
.dem-screen-containers .header-sec .name-with-profile .pro-img.profile-dropdown .dropdown-btns.show{
  display: block !important;
}
.dem-screen-containers .header-sec .name-with-profile .pro-img.profile-dropdown .dropdown-btns{
  display: none;
  position:absolute;
  top: 43px;
  width: 133px;
  background: #FFFFFF;
  /* box-shadow: 0px 4px 8px rgb(32 33 36 / 15%); */
  box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
  border-radius: 4px;
  right: 0px;
}

.dem-screen-containers .header-sec .name-with-profile .pro-img.profile-dropdown .dropdown-btns a{
  font-size: 14px;
  line-height: 20px;
  color: #202124;
  padding: 10px;
  display: block;
  cursor: pointer;
  border-radius: 4px;
}
  
.dem-screen-containers .header-sec .name-with-profile .pro-img.profile-dropdown .dropdown-btns a:hover{
  background: #f8f9fa;
}


 .dem-screen-containers .blue-banner-container {
  background: linear-gradient(91.27deg,#85B7FE 0.18%,rgba(255,255,255,0) 77.08%), rgba(7,55,127,0.8);
  height: 60px;
}



.dem-screen-containers .banner-home {
  height: 257px;
  position: relative;
}
.dem-screen-containers .banner-home .background-img {
  width: 100%;
  height: 257px;
}
.dem-screen-containers .banner-home .background-img img {
  width: 100%;
  height: 100%;
}
.dem-screen-containers .banner-home .banner-text {
  position: absolute;
  top: 62px;
  right: 80px;
}
.dem-screen-containers .banner-home .banner-text .banner-title {
  font-weight: bold;
  font-size: 36px;
  color: #202124;
  display: block;
  margin-bottom: 7px;
}
.dem-screen-containers .banner-home .banner-text .banner-desc {
  font-weight: 500;
  font-size: 18px;
  color: #202124;
  margin-bottom: 13px;
}
.dem-screen-containers .banner-home .banner-text .learn-more {
  background: #0D6EFD;
  border-radius: 4px;
  padding: 7px 20px;
  text-decoration: none !important;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  display: inline-block;
  cursor: pointer;
  transition: 0.2s all ease;
}
.dem-screen-containers .banner-home .banner-text .learn-more:hover {
  opacity: 0.9;
}



.dem-screen-containers .covid-cards-section {
  display: flex;
  padding: 16px 35px;
}
.dem-screen-containers .covid-cards-section .covid-info-block {
  padding: 10px;
  width: 25%;
}
.dem-screen-containers .covid-cards-section .covid-info-block .inner-sec {
  position: relative;
}
.dem-screen-containers .covid-cards-section .covid-info-block .inner-sec .img-block img {
  width: 100%;
  height: 100%;
}
.dem-screen-containers .covid-cards-section .covid-info-block .inner-sec .titles-block {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 11px;
  background: rgba(255,255,255,0.7);
}
.dem-screen-containers .covid-cards-section .covid-info-block .inner-sec .titles-block .p-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #07377F;
}
.dem-screen-containers .covid-cards-section .covid-info-block .inner-sec .titles-block .s-title {
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  color: #07377F;
}





.dem-screen-containers .card-section-bottom {
  display: flex;
  padding: 30px 20px;
}
.dem-screen-containers .card-section-bottom .left-sec {
  padding: 0 20px;
  width: 63%;
}
.dem-screen-containers .card-section-bottom .left-sec .inner-card {
  display: flex;
  background: #FFF1ED;
  border-radius: 6px;
  padding: 30px;
  height: 100%;
}
.dem-screen-containers .card-section-bottom .left-sec .inner-card .card-content {
  padding-left: 20px;
}
.dem-screen-containers .card-section-bottom .left-sec .inner-card .card-content .title {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #202124;
  margin-bottom: 3px;
}
.dem-screen-containers .card-section-bottom .left-sec .inner-card .card-content .title-desc {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #5F6368;
  margin-bottom: 16px;
}
.dem-screen-containers .card-section-bottom .left-sec .inner-card .card-content a {
  color: #0D6EFD;
  text-decoration: none;
  outline: 0 !important;
  display: inline-flex;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  cursor: pointer;
}
.dem-screen-containers .card-section-bottom .left-sec .inner-card .card-content a img {
  margin-left: 10px;
}
.dem-screen-containers .right-sec {
  padding: 0 20px;
  width: 37%;
}
.dem-screen-containers .right-sec .top-stories {
  background: #F8F9FA;
  border-radius: 6px;
  height: 100%;
  padding: 20px;
}
.dem-screen-containers .right-sec .top-stories .title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 20px;
  color: #5F6368;
}
.dem-screen-containers .right-sec .top-stories .list-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #3C4043;
  padding: 13px 0;
  border-bottom: 1px solid #E4E5E7;
}

.dem-screen-containers .bottom-full-card {
  margin: 0 45px;
  background: #FFF1ED;
  border-radius: 6px;
  padding: 38px;
}

.start-search-icon-div {
  position: absolute;
  right: 25px;
  bottom: 25px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 1000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  background-color: #fff;
  /* box-shadow: 14px 4px 64px 0 rgb(18 61 101 / 40%), -16px -16px 64px 0 rgb(255 255 255 / 80%), inset -8px -6px 80px 0 rgb(255 255 255 / 18%); */
  box-shadow: 14px 4px 64px 12px rgb(18 61 101 / 40%), -16px -16px 64px 0 rgb(255 255 255 / 80%), inset -8px -6px 80px 0 rgb(255 255 255 / 18%);
}
.search-container.conversation #searchChatContainer.bgfocus {
      background: #FFFFFF !important;
}

.belcorp .dem-screen-containers.belcrop-none{
  display: none !important;
}
.belcorp .dem-screen-containers.belcrop-container {
  display: block !important;
  padding-top: 73px;
}
.belcorp .dem-screen-containers .header-sec{
  padding: 0 25px 0 40px;
  height: 73px;
  box-shadow: none;
}
.belcorp .dem-screen-containers .header-sec .logo-with-img{
  width: auto;

}


.belcorp .dem-screen-containers .header-sec .action-header .action-name{
  padding: 5px 0;
  cursor: pointer;
  margin: 0 24px;
  position: relative;
  text-decoration: none !important;
  font-size: 16px;
  line-height: 20px;
  color: #202124;
  font-weight: norma
}
.belcorp .dem-screen-containers .header-sec .action-header .action-name.active-name{
  font-weight: 600;
}
.belcorp .dem-screen-containers .header-sec .action-header .action-name.active-name::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #202124;
  bottom: -3px;
}

.belcorp .dem-screen-containers .header-sec .name-with-profile .user-name{
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #202124;
  margin: 0;
}
.belcorp .dem-screen-containers .banner-home .banner-text{
  left: 80px;
  right: auto;
  display: none;
}
.belcorp .dem-screen-containers .header-sec .logo-with-img .logo-bg{
  background: transparent !important;
  opacity: 1;
  width: auto;
  height: auto;
}
.belcorp .dem-screen-containers .header-sec .logo-with-img .logo-name{
  left: 32px;
  color: #4462B7;
}
.belcorp .dem-screen-containers .banner-home .banner-text .banner-title{
  font-weight: bold;
  font-size: 32px;
  color: #fff;
  display: block;
  margin-bottom: 7px;
  width: 600px;
}
.belcorp .dem-screen-containers .banner-home .banner-text .banner-desc{
  display: none;
}
.belcorp .dem-screen-containers .banner-home .banner-text .learn-more{
  background: transparent;
  border-radius: 4px;
  padding: 7px 20px;
  text-decoration: none !important;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  display: inline-block;
  cursor: pointer;
  transition: 0.2s all ease;
  border: 1px solid #fff;
  margin-top: 15px;
}
.belcorp .dem-screen-containers .banner-home .banner-text .learn-more:hover{
  color: #fff;
  background: #722789!important;
  border-color: #722789!important;
}
.belcorp .dem-screen-containers .card-section-bottom .left-sec .inner-card{
  border: 1px solid #4462B7;
  /* background: transparent; */
  background: #fde7f7 !important;
}
.belcorp .dem-screen-containers .right-sec .top-stories{
  border: 1px solid #4462B7;
  background: #fde7f7 !important;
  background: transparent;
}

.belcorp .dem-screen-containers .blue-banner-container{
  background: linear-gradient(
    91.27deg,#4462B7 0.18%,rgba(255,255,255,0) 77.08%), rgba(68,98,183,0.5);
}
.belcorp .belcorp-item-none{
  display: none !important;
}
.belcorp-item{
  display: none !important;
  /* background: #fde7f7; */
}
.belcorp .belcorp-item{
  display: block !important;
}

.belcorp .dem-screen-containers .banner-home{
  height: 400px;
}
.belcorp .dem-screen-containers .banner-home .background-img{
  height: 400px;
}
.dem-screen-containers.belcrop-container{
  display: none !important;
}
.belcorp .dem-screen-containers.belcrop-container{
  display: block !important;
}
.belcorp .esika-sup{
  margin-bottom: -25px;
  margin-left: -2px;
  width: 13px;
  transform: rotate3d(1, 1, 1, 45deg);
}
.belcorp .esika-sub{
  margin-top: 5px;
}
.belcorp .lbel-sup{
  margin-bottom: -18px;
  margin-left: 8px;
  width: 2px;
  transform: rotate3d(1, 1, 1, 45deg);
}
.belcorp .lbel-sub{
  margin-top: 0px;
}
body.belcorp{
  font-family: 'Inter', sans-serif !important;
}
/* siemens demo css */
body.siemens{
  font-family: 'Inter', sans-serif !important;
}
.siemens-item{
  display: none !important;
  /* background: #fde7f7; */
}
.siemens .siemens-item{
  display: block !important;
}

.siemens .dem-screen-containers .banner-home{
  height: 400px;
}
.siemens .dem-screen-containers .banner-home .background-img{
  height: 400px;
}
.dem-screen-containers.siemens-container{
  display: none !important;
}
.siemens .dem-screen-containers.siemens-container{
  display: block !important;
}
.siemens .dem-screen-containers.belcrop-none{
  display: none !important;
}
.siemens .dem-screen-containers.siemens-container {
  display: block !important;
  padding-top: 73px;
}
.siemens .dem-screen-containers .header-sec{
  padding: 0 25px 0 40px;
  height: 73px;
  box-shadow: none;
}
.siemens .dem-screen-containers .header-sec .logo-with-img,.siemens .dem-screen-containers .header-sec .logo-with-img .logo-bg .siemens-item{
  width: 120px;
}


.siemens .dem-screen-containers .header-sec .action-header .action-name{
  padding: 5px 0;
  cursor: pointer;
  margin: 0 24px;
  position: relative;
  text-decoration: none !important;
  font-size: 16px;
  line-height: 20px;
  color: #202124;
  font-weight: norma
}
.siemens .dem-screen-containers .header-sec .action-header .action-name.active-name{
  font-weight: 600;
}
.siemens .dem-screen-containers .header-sec .action-header .action-name.active-name::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #202124;
  bottom: -3px;
}

.siemens .dem-screen-containers .header-sec .name-with-profile .user-name{
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #202124;
  margin: 0;
}
.siemens .dem-screen-containers .banner-home .banner-text{
  left: 80px;
  right: auto;
  display: none;
}
.siemens .dem-screen-containers .header-sec .logo-with-img .logo-bg{
  background: transparent !important;
  opacity: 1;
  width: auto;
  height: auto;
}
.siemens .dem-screen-containers .header-sec .logo-with-img .logo-name{
  left: 32px;
  color: #4462B7;
}
.siemens .dem-screen-containers .banner-home .banner-text .banner-title{
  font-weight: bold;
  font-size: 32px;
  color: #fff;
  display: block;
  margin-bottom: 7px;
  width: 600px;
}
.siemens .dem-screen-containers .banner-home .banner-text .banner-desc{
  display: none;
}
.siemens .dem-screen-containers .banner-home .banner-text .learn-more{
  background: transparent;
  border-radius: 4px;
  padding: 7px 20px;
  text-decoration: none !important;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  display: inline-block;
  cursor: pointer;
  transition: 0.2s all ease;
  border: 1px solid #fff;
  margin-top: 15px;
}
.siemens .dem-screen-containers .banner-home .banner-text .learn-more:hover{
  color: #fff;
  background: #722789!important;
  border-color: #722789!important;
}
.siemens .dem-screen-containers .card-section-bottom .left-sec .inner-card{
  border: 1px solid #4462B7;
  /* background: transparent; */
  background: #fde7f7 !important;
}
.siemens .dem-screen-containers .right-sec .top-stories{
  border: 1px solid #4462B7;
  background: #fde7f7 !important;
  background: transparent;
}

.siemens .dem-screen-containers .blue-banner-container{
  background: linear-gradient(
    91.27deg,#4462B7 0.18%,rgba(255,255,255,0) 77.08%), rgba(68,98,183,0.5);
}
.siemens .siemens-item-none{
  display: none !important;
}
.siemens .siemens-body-img-section{
  background: no-repeat url('../images/siemens-banner.jpg') 50% / 100%;
}
.siemens .siemens-body-img-section img {
  vertical-align: top;
  width: 100%; 
  opacity: 0;  
  height: 52%;
}