@import "../../../../libs/air-date-picker/src/datepicker.scss";

.date-picker-wrapper-template {
    padding: 0 16px 16px 16px;
    display: inline-block;
    width: 100%;

    h1 {
        color: var(--kora-grey-grey-dark-1, #202124);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 10px;
    }

    .date-picker-calendar {
        margin-bottom: 10px;
    }
}

.insure-assist-theme {
    .date-picker-wrapper-template {
        .kr-button-primary {
            background: #0078B5;
        }
        .date-picker-calendar {
            .air-datepicker-cell.-selected-.-current- {
                background: #0078B5;
            }
            .air-datepicker-cell.-current-::before {
                content: "";
                background: #0078B5;
            }


        }
    }

}