 /* DatePicker CSS start */
  .datePickerContainer .sdkFooterIcon.calender{
    opacity:0;
}
.kore-chat-window  .sdkFooterIcon.singleCalender .sdkCalender.calenderBtn .calender{
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMjJweCIgaGVpZ2h0PSIyMnB4IiB2aWV3Qm94PSIwIDAgMjIgMjIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDUzLjIgKDcyNjQzKSAtIGh0dHBzOi8vc2tldGNoYXBwLmNvbSAtLT4KICAgIDx0aXRsZT5JY29uPC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGcgaWQ9IlR3by1Ub25lLUljb25zIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgICAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMjQ5LjAwMDAwMCwgLTU2LjAwMDAwMCkiIGlkPSJDYWxlbmRhciI+CiAgICAgICAgICAgIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDIyMC4wMDAwMDAsIDQwLjAwMDAwMCkiPgogICAgICAgICAgICAgICAgPGcgaWQ9Ikljb24iIHRyYW5zZm9ybT0idHJhbnNsYXRlKDI5LjAwMDAwMCwgMTYuMDAwMDAwKSI+CiAgICAgICAgICAgICAgICAgICAgPHBhdGggZD0iTTAuNSw4LjUgTDAuNSw0IEMwLjUsMy43MjQgMC43MjQsMy41IDEsMy41IEwyMSwzLjUgQzIxLjI3NiwzLjUgMjEuNSwzLjcyNCAyMS41LDQgTDIxLjUsOC41IEwwLjUsOC41IFogTTUsMTcuNSBDNC43MjQsMTcuNSA0LjUsMTcuMjc2IDQuNSwxNyBMNC41LDE0IEM0LjUsMTMuNzI0IDQuNzI0LDEzLjUgNSwxMy41IEw4LDEzLjUgQzguMjc2LDEzLjUgOC41LDEzLjcyNCA4LjUsMTQgTDguNSwxNyBDOC41LDE3LjI3NiA4LjI3NiwxNy41IDgsMTcuNSBMNSwxNy41IFoiIGlkPSJGaWxsIiBmaWxsPSIjREFGM0ZGIj48L3BhdGg+CiAgICAgICAgICAgICAgICAgICAgPHBhdGggZD0iTTIxLDMgTDEsMyBDMC40NDgsMyAwLDMuNDQ4IDAsNCBMMCwyMSBDMCwyMS41NTIgMC40NDgsMjIgMSwyMiBMMjEsMjIgQzIxLjU1MiwyMiAyMiwyMS41NTIgMjIsMjEgTDIyLDQgQzIyLDMuNDQ4IDIxLjU1MiwzIDIxLDMgTDIxLDMgWiBNMSwyMSBMMjEsMjEgTDIxLDQgTDEsNCBMMSwyMSBaIE0xNSwzIEwxNSwwLjUgQzE1LDAuMjI1IDE1LjIyNSwwIDE1LjUsMCBDMTUuNzc1LDAgMTYsMC4yMjUgMTYsMC41IEwxNiwzIE02LDMgTDYsMC41IEM2LDAuMjI1IDYuMjI1LDAgNi41LDAgQzYuNzc1LDAgNywwLjIyNSA3LDAuNSBMNywzIEw2LDMgWiBNOCwxMyBMNSwxMyBDNC40NDgsMTMgNCwxMy40NDggNCwxNCBMNCwxNyBDNCwxNy41NTIgNC40NDgsMTggNSwxOCBMOCwxOCBDOC41NTIsMTggOSwxNy41NTIgOSwxNyBMOSwxNCBDOSwxMy40NDggOC41NTIsMTMgOCwxMyBMOCwxMyBaIE01LDE3IEw4LDE3IEw4LDE0IEw1LDE0IEw1LDE3IFogTTEsOSBMMjEsOSBMMjEsOCBMMSw4IEwxLDkgWiIgaWQ9Ik91dGxpbmUiIGZpbGw9IiMxRkI2RkYiPjwvcGF0aD4KICAgICAgICAgICAgICAgIDwvZz4KICAgICAgICAgICAgPC9nPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+');
    background-size: 100% 100%;
    width: 21px;
    height: 21px;
    margin: -4px;
    display: block;
}
 .datePickerContainer .close-button{
    cursor: pointer;
    color: #AAAAAA;
    background: none;
    border: none;
    opacity: 1;
    outline: none;
    font-size: 30px;
    float:right;
    line-height: inherit;
    margin-right: 30px;
    margin-top:5px;
    padding: 0 6px;
}
 .datePickerContainer .date-picker-wrapper {
    display:flex;
    align-items: center;
    justify-content: center;
}
 .datePickerContainer{
    position: relative;
    padding-bottom: 57px;
}
 .datePickerContainer .headerCalendar{
    height:56px;
    padding:20px;
}
 .datePickerContainer table thead tr:nth-child(2) {
    color: #ccc;
}
 .datePickerContainer .headerCalendar .choose{
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}
 .datePickerContainer .headerCalendar .close-button{
    margin: 0;
    padding-top: 8px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 0;
}
 .datePickerContainer .headerCalendar{
    height:56px;
    padding:16px 20px;
    position: relative;
}
 .datePickerContainer .showDatevalues{
    height: 84px;
    width: 100%;
    background-color: #f2f3f5;
    padding: 15px;
    display: table;
}
 .datePickerContainer .showDatevalues .showStartdate,  .datePickerContainer .showDatevalues .showEnddate{
    display: table-cell;
    /* width:50%; */
    text-align:center;
    position: relative;
}
 .datePickerContainer .showDatevalues .showStartdate .showStartYear{
    font-size: 14px;
    font-weight: 500;
    color: #677180;
    margin-right:79px;
}
 .datePickerContainer .showDatevalues .showStartdate .showStartMonth{
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}
 .datePickerContainer .showDatevalues .showEnddate .showEndYear{
    font-size: 14px;
    font-weight: 500;
    color: #677180;
}
 .datePickerContainer .showDatevalues .showEnddate .showEndMonth{
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}
 .datePickerContainer .daterangepicker{
    width: 288px;
    position: relative;
    top: auto;
    left: auto;
    margin: 0 auto;
    border: 0;
    background: transparent;
    /* margin-top: 32px; */
}
 .datePickerContainer .daterangepicker.drop-up:after{
    display: none;
}
 .datePickerContainer .daterangepicker.drop-up:before{
    display: none;
}
.kore-chat-window .kore-action-sheet.hide .datePickerContainer .confirmBTN{
    opacity: 0 ;
}
 .datePickerContainer .confirmBTN{
    position: absolute;
    z-index: 100;
    height: 54px;
    background: #009dab;
    bottom: 0;
    width: 100%;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    opacity: 1;
    line-height: 54px;
    transition: opacity 1.5s ease-in-out;
    -moz-transition: opacity 1.5s ease-in-out;
    -webkit-transition: opacity 1.5s ease-in-out;
}
.darkTheme .datePickerContainer .confirmBTN{
    background: #0047CC;
}
 .datePickerContainer .daterangepicker .drp-calendar.right{
    padding: 8px 8px 0 8px;
}
 .datePickerContainer .daterangepicker .drp-buttons{
    display: none;
}
 .datePickerContainer .applyBtn{
    outline: none;
    height: 54px;
    display: none;
}
 .datePickerContainer .daterangepicker td.active,  .datePickerContainer .daterangepicker td.active:hover{
    background-color: #e94848;
}
 .datePickerContainer .daterangepicker .calendar-table th,  .datePickerContainer .daterangepicker .calendar-table td{
    border-radius: 50%;
    height: 32px;
}
.datePickerContainer .date-picker-wrapper{
    font-size: 15px;
}
.datePickerContainer .date-picker-wrapper .month-wrapper table th{
    font-size:12px;
}
.datePickerContainer .date-picker-wrapper .month-wrapper .day.toMonth.valid.checked.tmp.first-date-selected{
    background-color: #e94848!important;
}
.datePickerContainer .date-picker-wrapper .month-wrapper .day.toMonth.valid.tmp.checked.last-date-selected{
    background-color: #e94848!important;
}
.datePickerContainer .date-picker-wrapper .month-wrapper .day.toMonth.valid.checked.first-date-selected{
    background-color: #e94848!important;
}
.datePickerContainer .date-picker-wrapper .month-wrapper .day.toMonth.valid.checked.last-date-selected{
    background-color: #e94848!important;
}
.datePickerContainer .date-picker-wrapper .month-wrapper .day.toMonth.valid.real-today{
    background-color: #cdecfa;
    border-radius: 50%!important;
    height: 24px!important;
}
.datePickerContainer .date-picker-wrapper .month-wrapper table .day.toMonth.valid{
    border-radius: 50%!important;
    height: 24px!important;
    width: 26px!important;
}
.datePickerContainer .date-picker-wrapper .month-wrapper table {
    width: 100%!important;
    /* display: table!important; */
    height: 100%!important;
}
.datePickerContainer .date-picker-wrapper .month-wrapper{
    text-align: center;
    width: 225px;
    height: 221px;
}
.datePickerContainer .date-picker-wrapper table .caption .next, .date-picker-wrapper table .caption .prev {
    border-radius: 50%!important;
    height: 37px!important;
    width: 35px!important;
    font-size: 16px!important;
}
    /*DatePicker CSS end*/
