.inline-iframe-container {
    height: 300px;
    padding: 0 16px;
    .iframe-section {
        height: 100%;
        width: 100%;
        background: var(--global-white-bg);
        border: 1px solid var(--gloabl-border-color);
        border-radius: 4px;
    }
}

.thumbnails-wrapper{
    padding: 12px 16px;
    display: inline-block;
    width: 100%;
    animation-name: bubbleAnim;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    .icon-block{
        display: none;
    }
    &.forms-thumbnails{
        margin-top: 30px;
        padding: 0 16px;
        .thumbnail-data-content{
            .icon-block{
                width: 44px;
                height: 44px;
                background: var(--global-white-bg);
                border: 1px solid var(--gloabl-border-color);
                border-radius: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 20px;                
                margin: -38px 0 14px 0;
                svg{
                    path{
                        fill: var(--gloabl-text-color);
                    }
                }
            }
        }
    }
    .thumbnail-data-content{
        background: var(--global-white-bg);
        border: 1px solid var(--gloabl-border-color);
        border-radius: 4px;
        padding: 15px;
        max-width: 75%;
        transition: 0.3s all ease;
        cursor: pointer;
        &:hover{
            box-shadow: 0px 4px 12px 2px rgba(32, 33, 36, 0.12);
            transform: scale(1.03);
        }
        h1{
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: var(--gloabl-text-color);
            margin-bottom: 8px;
        }
        p{
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: var(--gloabl-text-color);
        }
        .kr-button-blue-light{
            width: 100%;
            flex-shrink: 0;
        }
        .attchment-details {
            .content-info {
                audio {
                    width: 100%;
                }
                video {
                    width: 100%;
                }
            }
        }
        .link-btn{
            padding: 6px 0px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: var(--global-theme-color);
            cursor: pointer;
            background: transparent;
            border: 0;
            margin-top: 8px;
        }
    }
    &.attachment-document{
        display: flex;
        width: 100%;
        justify-content: flex-end;
        margin-top: 30px;
        padding: 0 16px;
        .thumbnail-data-content{
            .icon-block{
                width: 44px;
                height: 44px;
                background: var(--global-white-bg);
                border: 1px solid var(--gloabl-border-color);
                border-radius: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 20px;
                color: var(--gloabl-text-color);
                margin: -38px 0 14px 0;
            }
            width: 100%;
        }
    }
}