.kore-chat-window .dropDowntmplContent .selectTemplateDropdowm{
    border: 1px solid var(--sdk-chat-window-dropdown-border);
    height: 25px;
    background: var(--sdk-chat-window-bg-color);
    width: 100%;
    cursor: pointer;
}
.kore-chat-window .dropDowntmplContent .templateHeading{
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: bold;
    color: var(--sdk-chat-widow-primary-font-color);
}

