.stacked-cards {
    position: relative;
    display: flex;
    align-items: center;
    gap: 6px;

    .left-click {
        border-radius: 32px;
        background: var(--generic-white, #FFF);
        box-shadow: 0px 4px 12px 2px rgba(32, 33, 36, 0.12);
        display: flex;
        width: 32px;
        height: 32px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: 0;
        cursor: pointer;
        flex-shrink: 0;
        position: relative;
        z-index: 99;

        &.disabled-click {
            display: none;
            color: #D7D8D9;
            pointer-events: none;
            cursor: no-drop;
        }
    }

    .right-click {
        @extend .left-click;
    }

    ul {
        position: relative;
        width: 100%;
        display: flex;
        margin: 0;
        padding: 0;
        height: 200px !important;

        li {
            cursor: pointer;
            list-style: none;
            width: 65%;
            position: absolute;
            left: 50%;
            transition: 0.5s ease transform;

            &.active {
                cursor: default;
                transition: 0.5s ease transform;
            }
        }
    }
}


.stacked-cards li:after {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

.list-template-carousel-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    gap: 10px;
    padding: 6px 12px;

    .carousel-left-click {
        position: absolute;
        border-radius: 32px;
        background: var(--global-white);
        box-shadow: 0px 4px 12px 2px rgba(32, 33, 36, 0.12);
        display: flex;
        width: 32px;
        height: 32px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: 0;
        left: 20px;
        top: auto;
        cursor: pointer;
        flex-shrink: 0;
        z-index: 9;

        &.hide {
            display: none;
        }
    }

    .carousel-right-click {
        @extend .carousel-left-click;
        left: auto;
        right: 20px;
    }

    .list-carousel {
        display: flex;
        overflow: hidden;
        gap: 10px;

        .list-carousel-item {
            display: flex;
            padding: 8px;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            border-radius: 4px;
            border: 1px solid var(--kora-grey-grey-light-3, #E4E5E7);
            background: var(--generic-white, #FFF);
            width: 255px;
            flex-shrink: 0;

            .img-block {
                width: 100%;

                figure {
                    width: 100%;
                    height: 144px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 4px;
                    }
                }
            }

            .content-block {
                display: flex;
                padding: 8px;
                align-items: flex-start;
                gap: 12px;
                align-self: stretch;
                flex-direction: column;

                .heading-block {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    gap: 8px;

                    h1 {
                        color: var(--generic-black, #000);
                        font-size: 14px;
                        font-weight: 700;
                        line-height: normal;
                        width: 100%;
                    }

                    p {
                        color: var(--success-600, #16A34A);
                        text-align: center;
                        font-size: 11px;
                        font-weight: 600;
                        line-height: 16px;
                    }
                }

                p {
                    overflow: hidden;
                    color: var(--gray-modern-700, #364152);
                    text-overflow: ellipsis;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: normal;
                }

                .rating-block {
                    display: flex;
                    align-items: center;
                    gap: 6px;

                    figure {
                        line-height: 0;
                    }
                }

            }
        }
    }
}


.card-content-sec {
    display: flex;
    // padding: 12px;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid var(--card-temp-border);
    background: var(--card-temp-bg);
    text-align: left;

    .top-sec-card {
        display: contents;
        align-items: center;
        width: 100%;
        gap: 10px;

        h1 {
            color: var(--card-temp-h1-color);
            font-size: 14px;
            font-weight: 700;
            line-height: normal;
            width: 100%;
        }

        .tag-name {
            flex-shrink: 0;
            border-radius: 4px;
            background: var(--success-50, #F0FDF4);
            padding: 2px 12px;
            color: var(--kore-green-kore-green-0, #04AF5F);
            text-align: center;
            font-size: 12px;
            font-weight: 600;
            line-height: 18px;
        }
    }

    .middle-sec-card {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        width: 100%;

        h1 {
            color: var(--card-temp-h1-color);
            font-size: 14px;
            font-weight: 700;
            line-height: normal;
            width: 100%;
        }


        p {
            color: var(--card-temp-p-color);
            font-size: 10px;
            font-weight: 400;
            line-height: normal;
            width: 100%;
        }

        .amount-text {
            color: var(--card-temp-color);
            text-align: right;
            font-size: 10px;
            font-weight: 500;
            line-height: normal;
            flex-shrink: 0;
            max-width: 60%;
        }

        .clickble-text {
            @extend .amount-text;
            color: var(--global-theme-color);
        }
    }

    .bottom-sec-card {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        line-height: 22px;

        h2 {
            overflow: hidden;
            color: var(--card-temp-subText-color);
            font-size: 14px;
            font-weight: 500;
            width: 100%;
        }

        p {
            color: var(--card-heading-color);
            text-align: right;
            font-size: 14px;
            font-weight: 400;
            line-height: normal;
            flex-shrink: 0;
        }
    }

    .more-sec-card {
        @extend .bottom-sec-card;

        h2 {
            font-size: 10px;
        }

        p {
            font-size: 10px;
        }
    }

    .border-divider {
        background: var(--card-temp-border-divided-bg);
        width: 100%;
        height: 1px;
    }

    .view-more-btn {
        border-radius: 4px;
        border: 1px solid var(--card-temp-view-more-border);
        width: 100%;
        background: var(--card-temp-view-more-bg);
        padding: 5px 12px;
        color: var(--card-temp-bg);
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        height: 30px;
        text-align: center;
        margin-top: 5px;
        background-color: var(--card-temp-view-more-border);
    }
}

.card-content-sec {
    display: flex;
    // padding: 12px;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid var(--card-temp-border);
    background: var(--card-temp-bg);
    text-align: left;

    .top-sec-card {
        h1 {
            color: var(--card-temp-h1-color);
            font-size: 14px;
            font-weight: 700;
            line-height: normal;
            width: 100%;
        }

        .tag-name {
            flex-shrink: 0;
            border-radius: 4px;
            background: var(--success-50, #F0FDF4);
            padding: 2px 12px;
            color: var(--kore-green-kore-green-0, #04AF5F);
            text-align: center;
            font-size: 12px;
            font-weight: 600;
            line-height: 18px;
        }
    }



    .more-sec-card {
        @extend .bottom-sec-card;

        h2 {
            font-size: 10px;
        }

        p {
            font-size: 10px;
        }
    }

    .border-divider {
        background: var(--card-temp-border-divided-bg);
        width: 100%;
        height: 1px;
    }

    .view-more-btn {
        border-radius: 4px;
        border: 1px solid var(--card-temp-view-more-border);
        width: 100%;
        background: var(--card-temp-view-more-bg);
        padding: 5px 12px;
        color: var(--card-temp-bg);
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        height: 30px;
        text-align: center;
        margin-top: 5px;
        background-color: var(--card-temp-view-more-border);
    }


    .button-block {
        width: 100%;

        .kr-button-secondary {
            background-color: var(--card-button-bg-color);
            color: var(--card-temp-bg);
        }
    }

    .list-carousel {
        width: 100%;

        .single-item {
            width: 100%
        }
    }
}



.item {
    .card-content-sec {
        padding: 0;
        border: none;
        .left-data{
            img{
                vertical-align: middle;
                margin-right: 5px;
            }
            h1{
                font-weight: 700;
            }
        }
        .top-sec-card {
            display: block;
        }
        .bottom-sec-card {
            display: block;
        }
        .middle-sec-card {
            display: block;
        }
        .card-acc-temp{
            display: block;
            border: none;
            width: 100%;
        }
    }

}