


.checkbox-item{
    display: flex;
    align-items: center;
    margin: 0px;
    position: relative;
    // padding: 10px;
    &.item-checked{        
        .checkbox-input{
            &:checked{
                + .checkbox-label{
                    background: var(--gloabl-bg-secondary);
                }
            }
        }
    }
    &.select-all{
        border:0px !important;
        .checkbox-input{
            left: 1px;
            top: 1px;
            + .checkbox-label{
                padding: 0 0 0 26px;
                &::before{
                    left: 0px;
                    top: 0px;
                }
            }
        }
    }
    .checkbox-input{
        position: absolute;
        cursor: pointer;
        margin: 0;
        width: 16px;
        height: 16px;
        top: 11px;
        left: 11px;
        border: 0;
        + .checkbox-label{
            width: 100%;
            cursor: pointer;
            position: relative;
            padding: 10px;
            padding-left: 36px;
            border-radius: 2px;
            .title{
                color: var(--gloabl-text-color);
                font-size: 14px;
                font-weight: 400;
                line-height: normal;
            }
            .desc-text-checkbox{
                color: var(--gloabl-text-color);
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                margin-top: 2px;
            }
            &::before{
                content: '';
                width: 16px;
                height: 16px;
                padding: 0;               
                text-align: center;               
                position: absolute;
                left: 10px;
                top: 10px;
                margin: 0;
                border-radius: 4px;
                border: 1px solid var(--gloabl-border-color);
                background: var(--global-white-bg);
            }
        }
        &:checked{
            + .checkbox-label{
                &::before{
                    content: "";
                    border: 1px solid var(--global-theme-color);
                    background:var(--global-theme-color);
                    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxOCAxMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xNi4yMjQ1IDEuMTQ3MUMxNi40NTc3IDAuODk2MDIyIDE2Ljg0ODQgMC44ODMzNzUgMTcuMDk3IDEuMTE4ODVDMTcuMzMxMSAxLjM0MDQ4IDE3LjM1NTkgMS43MDI5IDE3LjE2MzYgMS45NTQxTDE3LjEyNSAxLjk5OTgzTDYuNjcxNzUgMTIuNjM2MkM2LjQ0ODQxIDEyLjg3NjcgNi4wODE3MSAxMi44OTc4IDUuODMzMzUgMTIuNjk0NUw1Ljc4ODIzIDEyLjY1MzhMMC44MDkwMTQgNy42OTk1NUMwLjU2NjE4NyA3LjQ1Nzk0IDAuNTYzMzE4IDcuMDYzMzIgMC44MDI2MDcgNi44MTgxNEMxLjAyNzgyIDYuNTg3MzggMS4zODcyNyA2LjU3MTI0IDEuNjMxMjMgNi43NzE1N0wxLjY3NTU1IDYuODExNjdMNi4yMDQwOSAxMS4zMTc0TDE2LjIyNDUgMS4xNDcxWiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==");
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-repeat: no-repeat;
                    background-size: 12px 12px;
                    background-position: center;
                }
            }
            &:focus{
                + .checkbox-label{
                    color: var(--gloabl-text-color);
                }
            }
            &:disabled{
                pointer-events: none;   
                + .checkbox-label{
                    pointer-events: none !important;
                    opacity: 0.7;
                }
            }
        }
        &:disabled{
            pointer-events: none;
            opacity: 0.2;
            + .checkbox-label{
                pointer-events: none !important;
                opacity: 0.7;
            }
        }
    }
}

.checkbox-wrapper{
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    h1{
        color: var(--gloabl-text-color);
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
    }
    .checkbox-container{
        display: flex;
        flex-direction: column;
        gap: 8px;
        .checkbox-item{
            border-radius: 4px;
            border: 1px solid var(--gloabl-border-color);
            background: var(--global-white-bg);
            width: 100%;
            .checkbox-input {
                + .checkbox-label {
                    .title{
                        font-weight: 500;
                    }
                }
            }
        }
    }    
}