// Agent Bubble
.agent-bubble-comp {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 0px 16px;
    margin: 12px 0;

    &.if-animation-bubble {
        animation-name: bubbleAnim;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        opacity: 0;
    }

    .agent-bubble-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        max-width: 100%;
        padding-left: 10%;
        transition: 0.5s all ease;

        &:hover {
            .bubble-msg-with-img {
                .bubble-msg {
                    background-color: var(--agent-bubble-msg-bg-hover);
                }
            }
        }

        &.if-agent-img {
            padding-right: 32px;

            .bubble-msg-with-img {
                .agent-img {
                    display: block;
                }
            }
        }

        &.small_text {
            .top-info {
                .time-tamp {
                    font-size: 10px;
                    line-height: 12px;
                }

                .you-text {
                    font-size: 10px;
                    line-height: 12px;
                }
            }

            .bubble-msg-with-img {
                .bubble-msg {
                    font-size: 12px;
                    line-height: 15px;
                }
            }

            .bottom-info {
                .time-tamp {
                    font-size: 10px;
                    line-height: 12px;
                }

                .you-text {
                    font-size: 10px;
                    line-height: 12px;
                }

                .read-text {
                    font-size: 10px;
                    line-height: 12px;
                }
            }
        }

        &.large_text {
            .top-info {
                .time-tamp {
                    font-size: 14px;
                    line-height: 17px;
                }

                .you-text {
                    font-size: 14px;
                    line-height: 17px;
                }
            }

            .bubble-msg-with-img {
                .bubble-msg {
                    font-size: 16px;
                    line-height: 19px;
                }
            }

            .bottom-info {
                .time-tamp {
                    font-size: 14px;
                    line-height: 17px;
                }

                .you-text {
                    font-size: 10px;
                    line-height: 12px;
                }

                .read-text {
                    font-size: 14px;
                    line-height: 17px;
                }
            }
        }

        &.chat-bubble-style-1 {
            .bubble-msg-with-img {
                .bubble-msg {
                    border-radius: 16px;
                }
            }
        }

        &.chat-bubble-style-2 {
            .bubble-msg-with-img {
                .bubble-msg {
                    border-radius: 8px 2px 8px 8px;
                }
            }
        }

        &.hover-show-copy {
            &:hover {
                .bubble-msg-with-img {
                    .copy-bubble {
                        display: block;
                    }
                }
            }
        }

        &.time-stamp-show-hover {
            .top-info {
                .time-tamp {
                    display: none;
                }
            }

            .bottom-info {
                .time-tamp {
                    display: none;
                }
            }

            &:hover {
                .top-info {
                    .time-tamp {
                        display: block;
                    }
                }

                .bottom-info {
                    .time-tamp {
                        display: block;
                    }
                }
            }
        }

        .top-info {
            display: flex;
            align-items: center;
            gap: 4px;

            .time-tamp {
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                color: var(--time-stamp-color); // var(--agent-bubble-text-color);
            }

            .you-text {
                font-weight: 600;
                font-size: 12px;
                line-height: 15px;
                color: var(--name-color); // var(--agent-bubble-text-color);
            }

            .copied-text {
                @extend .you-text;
            }
        }

        .bubble-msg-with-img {
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            margin: 2px 0;
            position: relative;

            .bubble-msg {
                background: var(--agent-bubble-msg-bg);
                border-radius: 8px 8px 2px 8px;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: var(--agent-bubble-msg-color);
                padding: 8px 12px;
                margin: 2px 0;
            }

            .copy-bubble {
                position: absolute;
                left: -24px;
                top: auto;
                z-index: 1;
                cursor: pointer;
                font-size: 14px;
                display: none;

                svg {
                    path {
                        fill: var(--gloabl-text-color);
                    }
                }
            }

            .agent-img {
                position: absolute;
                right: -32px;
                bottom: 0;
                width: 24px;
                height: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                display: none;

                figure {
                    line-height: normal;
                    width: 100%;
                    height: 100%;

                    img {
                        border: 1.5px solid var(--agent-bubble-img-border);
                        border-radius: 100px;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        .bottom-info {
            display: flex;
            align-items: center;
            gap: 4px;

            .time-tamp {
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                color: var(--time-stamp-color); // var(--gloabl-text-color);
            }

            .you-text {
                font-weight: 600;
                font-size: 12px;
                line-height: 15px;
                color: var(--name-color); // var(--gloabl-text-color);
            }

            .read-text {
                font-weight: 500;
                font-size: 11px;
                line-height: 13px;
                color: var(--gloabl-text-color);
                display: flex;
                align-items: center;

                i {
                    color: var(--agent-bubble-read-status-icon-color);
                    font-size: 10px;
                    margin-left: 5px;
                }
            }
        }
    }
}

// Agent Bubble
.bot-bubble-comp {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding: 0px 16px;
    margin: 12px 0;

    &.if-animation-bubble {
        animation-name: bubbleAnim;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        opacity: 0;
    }

    .bot-bubble-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        max-width: 100%;
        padding-left: 32px;
        justify-content: flex-start;
        align-items: flex-start;
        padding-right: 10%;
        padding-left: 32px;
        transition: 0.5s all ease;

        &:hover {
            .bubble-msg-with-img {
                .bubble-msg {
                    background-color: var(--bot-bubble-msg-bg-hover);
                }
            }
        }

        &.small_text {
            .top-info {
                .time-tamp {
                    font-size: 10px;
                    line-height: 12px;
                }

                .you-text {
                    font-size: 10px;
                    line-height: 12px;
                }
            }

            .bubble-msg-with-img {
                .bubble-msg {
                    font-size: 12px;
                    line-height: 15px;
                }
            }

            .bottom-info {
                .time-tamp {
                    font-size: 10px;
                    line-height: 12px;
                }

                .you-text {
                    font-size: 10px;
                    line-height: 12px;
                }

                .read-text {
                    font-size: 10px;
                    line-height: 12px;
                }
            }
        }

        &.large_text {
            .top-info {
                .time-tamp {
                    font-size: 14px;
                    line-height: 17px;
                }

                .you-text {
                    font-size: 14px;
                    line-height: 17px;
                }
            }

            .bubble-msg-with-img {
                .bubble-msg {
                    font-size: 16px;
                    line-height: 19px;
                }
            }

            .bottom-info {
                .time-tamp {
                    font-size: 14px;
                    line-height: 17px;
                }

                .you-text {
                    font-size: 10px;
                    line-height: 12px;
                }

                .read-text {
                    font-size: 14px;
                    line-height: 17px;
                }
            }
        }

        &.chat-bubble-style-1 {
            .bubble-msg-with-img {
                .bubble-msg {
                    border-radius: 16px;
                }
            }
        }

        &.chat-bubble-style-2 {
            .bubble-msg-with-img {
                .bubble-msg {
                    border-radius: 8px 2px 8px 8px;
                }
            }
        }

        &.hover-show-copy {
            &:hover {
                .bubble-msg-with-img {
                    .copy-bubble {
                        display: block;
                    }
                }
            }
        }

        &.time-stamp-show-hover {
            .top-info {
                .time-tamp {
                    display: none;
                }
            }

            .bottom-info {
                .time-tamp {
                    display: none;
                }
            }

            &:hover {
                .top-info {
                    .time-tamp {
                        display: block;
                    }
                }

                .bottom-info {
                    .time-tamp {
                        display: block;
                    }
                }
            }
        }

        .top-info {
            display: flex;
            align-items: center;
            gap: 4px;

            .time-tamp {
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                color: var(--time-stamp-color); // var(--gloabl-text-color);
            }

            .you-text {
                font-weight: 600;
                font-size: 12px;
                line-height: 15px;
                color: var(--name-color); // var(--gloabl-text-color);
            }

            .copied-text {
                @extend .you-text;
            }
        }

        .bubble-msg-with-img {
            display: flex;
            align-items: flex-start;
            margin: 4px 0;
            position: relative;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;

            .bubble-msg {
                background: var(--bot-bubble-msg-bg);
                border-radius: 8px 8px 2px 8px;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: var(--bot-bubble-msg-color);
                padding: 8px 12px;
                margin: 2px 0;
                word-break: break-word;
                white-space: break-spaces;
            }

            .copy-bubble {
                position: absolute;
                right: -24px;
                top: auto;
                z-index: 1;
                cursor: pointer;
                font-size: 14px;
                display: none;

                svg {
                    path {
                        fill: var(--gloabl-text-color);
                    }
                }
            }

            // .insureassist-bot-img {
            //     display: none;
            // }

            .bot-img {
                position: absolute;
                right: auto;
                left: -32px;
                top: 0;
                bottom: auto;
                width: 24px;
                height: 24px;
                display: flex;
                align-items: center;
                justify-content: center;

                figure {
                    line-height: normal;
                    width: 100%;
                    height: 100%;

                    img {
                        // border: 1.5px solid var(--bot-bubble-img-border);
                        // border-radius: 100px;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        .bottom-info {
            display: flex;
            align-items: center;
            gap: 4px;

            .time-tamp {
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                color: var(--time-stamp-color); // var(--gloabl-text-color);
            }

            .you-text {
                font-weight: 600;
                font-size: 12px;
                line-height: 15px;
                color: var(--name-color); // var(--gloabl-text-color);
            }

            .read-text {
                font-weight: 500;
                font-size: 11px;
                line-height: 13px;
                color: var(--gloabl-text-color);
            }
        }
    }
}


.attachment-sended-temp-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 16px 5px 16px;

    .multiple-attchments {
        border-radius: 4px;
        border: 1px solid var(--gloabl-border-color);
        background: var(--global-white-bg);
        padding: 8px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        max-width: 285px;

        .attchments-wrap {
            display: flex;
            gap: 4px;
            align-items: flex-start;
            position: relative;

            .img-attch {
                width: 100%;
                height: 100px;

                figure {
                    line-height: 0;
                    width: 100%;
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 4px;
                    }
                }
            }

            .layer-multiple {
                position: absolute;
                border-radius: 4px;
                background: rgba(0, 0, 0, 0.4);
                width: 132px;
                height: 100px;
                right: 0;
                top: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--global-white);
                font-size: 14px;
                font-weight: 700;
                line-height: normal;
                cursor: pointer;
                z-index: 2;
                border: 0;
            }
        }

        .attchment-details {
            display: flex;
            padding: 8px;
            align-items: flex-start;
            gap: 10px;
            align-self: stretch;

            .content-info {
                width: 100%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                h2 {
                    color: var(--gloabl-text-color);
                    font-size: 14px;
                    font-weight: 600;
                    line-height: normal;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                p {
                    color: var(--gloabl-text-color);
                    font-size: 12px;
                    font-weight: 400;
                    line-height: normal;
                    margin-top: 4px;
                }
            }

            .kr-button-blue-light {
                width: auto;
                flex-shrink: 0;
            }
        }
    }
}

/*--insureAssist - css --*/
.insure-assist-theme {
    .chat-widgetwrapper-main-container {
        .agent-bubble-comp {

            //For Hiding the timestamp 
            .agent-bubble-content {
                .bubble-msg {
                    background: #0086C9;
                }

                .top-info {
                    display: none;
                }
            }

            .agent-bubble-content:hover {
                .bubble-msg-with-img {
                    .bubble-msg {
                        background: #0086C9;
                    }
                }
            }
        }

        .bot-img {
            .bot-chat-icon {
                display: none;
            }
        }

        .bot-bubble-comp {
            .bot-bubble-content {
                .bubble-msg-with-img {
                    .bubble-msg{
                        border-radius: 12px 12px 12px 4px;
                    }
                    .bot-img {
                        position: relative;
                        left: -3px;
                    }

                    .bot-img.insureassist-bot-img {
                        .bot-img {
                            left: -11px;
                            top: -12px;
                        }
                    }
                }
            }
        }

        .bot-bubble-comp {
            // margin: 30px 0 15px;
            .bot-bubble-content {
                padding: 0;
                padding-right: 7%;

                .top-info {
                    display: none;
                }

            }

            .bot-bubble-content:hover {
                .bubble-msg-with-img {
                    .bubble-msg {
                        background: var(--bot-bubble-msg-bg);
                    }
                }
            }

        }

        .button-template-container {
            .button-temp .kr-btn {
                background: #F0F9FF;
                color: #0086C9;
                padding: 10px 16px;
                border: none;
            }
        }
    }
}