.list-action-template-wrapper {
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    background: #fff;
    margin: 0 10px;

    .m-title {
        color: #101828;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        padding: 12px 20px;
        text-align: left;
        background: #F0F1F2;
        border-radius: 4px 4px 0px 0px;
        border-top: 1px solid #E4E5E7;
        border-right: 1px solid #E4E5E7;
        border-left: 1px solid #E4E5E7;
    }

    // Main container
    .card-container {
        border: 1px solid #E4E5E7;
        background: #fff;
    }

    .card-template-wrapper {
        overflow: auto;
        padding: 15px;
        border-bottom: 1px solid #E4E5E7; // Apply border only to the bottom
        overflow-x: hidden;

        .sub-title-style {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            h2 {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        // Left section for the image
        .left-section {
            float: left;
            width: 25%;
            // padding-right: 20px;

            // Style for the image
            img {
                max-width: 100%;
                height: auto;
                display: block;
                // border-radius: 5px;
            }

            .checkbox-custom {
                position: absolute;
                cursor: pointer;
                margin: 0;
                height: auto;
                left: 17px;

                +.checkbox-custom-label {
                    display: inline-block;
                    vertical-align: middle;
                    cursor: pointer;
                    position: relative;
                    font-size: 14px;
                    color: var(--primaryColor);
                    margin: 0;
                    font-weight: normal;
                    padding-left: 28px;
                    line-height: 20px;

                    &::before {
                        content: '';
                        display: inline-block;
                        vertical-align: middle;
                        width: 18px;
                        height: 18px;
                        top: 0;
                        padding: 0;
                        text-align: center;
                        border-radius: 2px;
                        border: solid 1px var(--borderColor);
                        background-color: var(--global-white);
                        position: absolute;
                        left: 0;
                        top: 1px;
                    }

                    &::after {
                        content: '';
                        display: inline-block;
                        vertical-align: middle;
                        width: 18px;
                        height: 18px;
                        top: 0;
                        padding: 0;
                        text-align: center;
                        border-radius: 2px;
                        border: solid 1px var(--borderColor);
                        background-color: var(--global-white);
                        position: absolute;
                        left: 0;
                        top: 1px;
                    }
                }

                &:hover {
                    &:not([disabled]):checked {
                        +.checkbox-custom-label {
                            color: var(--primaryColor);

                            &::before {
                                border: solid 1px var(--secondaryColor);
                            }

                            &::after {
                                border: solid 1px var(--secondaryColor);
                            }
                        }
                    }

                    &:not([disabled]) {
                        +.checkbox-custom-label {
                            color: var(--defaultwbcolor);

                            &::before {
                                border: solid 1px var(--defaultwbcolor);
                            }

                            &::after {
                                border: solid 1px var(--defaultwbcolor);
                            }
                        }
                    }
                }

                &:checked {
                    +.checkbox-custom-label {
                        &::before {
                            content: "\e90f";
                            background-color: var(--defaultwbcolor);
                            color: var(--global-whiteTextColor);
                            font-size: 12px;
                            background-repeat: no-repeat;
                            background-position: center;
                            border: solid 1px var(--defaultwbcolor);
                            font-family: 'workbench-icons' !important;
                            speak: never;
                            font-style: normal;
                            font-weight: normal;
                            font-variant: normal;
                            text-transform: none;
                            line-height: 1;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        &::after {
                            content: "\e90f";
                            background-color: var(--defaultwbcolor);
                            color: var(--global-whiteTextColor);
                            font-size: 12px;
                            background-repeat: no-repeat;
                            background-position: center;
                            border: solid 1px var(--defaultwbcolor);
                            font-family: 'workbench-icons' !important;
                            speak: never;
                            font-style: normal;
                            font-weight: normal;
                            font-variant: normal;
                            text-transform: none;
                            line-height: 1;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }

                    &:focus {
                        +.checkbox-custom-label {
                            color: var(--primaryColor);
                        }
                    }

                    &:disabled {
                        pointer-events: none;

                        +.checkbox-custom-label {
                            pointer-events: none !important;
                            opacity: 0.7;

                        }
                    }
                }

                &:disabled {
                    pointer-events: none;
                    opacity: 0.2;

                    +.checkbox-custom-label {
                        pointer-events: none !important;
                        opacity: 0.7;
                    }
                }

                &:focus {
                    +.checkbox-custom-label {
                        color: var(--defaultwbcolor);

                        &::before {
                            border: 1px solid var(--defaultwbcolor);
                        }
                    }
                }
            }
        }

        // Right section for text content
        .right-section {
            float: right;
            width: 70%;
            position: relative;

            .sub-title-style {
                margin: 8px 0;
            }

            .top-right-section {
                .status-style {
                    font-size: 12px;
                    color: #12B76A;
                    font-weight: 500;
                    background: #ECFDF3;
                    border-radius: 4px;
                    padding: 2px 8px;
                }

                .m-gap {
                    margin-bottom: 4px;
                }
            }

            // Styling for text content
            h1 {
                font-size: 14px;
                // margin-bottom: 10px;
            }

            h2 {
                font-size: 16px;
                color: #101828;
                // margin-bottom: 10px;
            }

            .container-details {
                overflow: auto;
                // margin-bottom: 5px;
            }

            .container-details-section {
                margin-bottom: 5px;
                overflow: auto;
                margin-top: 7px;



                .details-left-section {
                    float: left;
                    font-size: 12px;
                    font-weight: 400;
                }

                .details-right-section {
                    float: left;
                    font-size: 12px;
                    font-weight: 400;
                    margin-right: 5px;
                }
            }

            .f-right {
                width: 50%;
                overflow: auto;
                display: block;
            }

            .decrement {
                float: left;
                width: 24px;
                height: 24px;
                border-radius: 4px;
                border: 1px solid #D0D5DD;
                background: #F9FAFB;
                text-align: center;

                img {
                    margin: 0 auto;
                    display: block;
                    text-align: center;
                    width: 100%;
                }
            }

            .input-c {
                float: left;
                text-align: center;
                margin: 0 5px;
                padding: 3px 0;
                width: 20%;
                height: 20%;
                border: 1px solid #D0D5DD;
                border-radius: 4px;
                font-size: 14px;
            }

            .increment {
                float: left;
                width: 24px;
                height: 24px;
                border-radius: 4px;
                border: 1px solid #12B76A;
                background: #12B76A;
                text-align: center;

                img {
                    margin: 0 auto;
                    display: block;
                    text-align: center;
                    width: 100%;
                }
            }

            .set-qty-style {
                position: absolute;
                right: -169px;
                bottom: -4px;
            }
        }

        .buttons-container {
            .view-details {
                width: 100%;
                padding: 8px 20px;
                margin-top: 10px;
                color: #101828;
                font-weight: 500;
                background: #fff;
            }
        }

        .buttons-container.delete-button {
            width: 70%;
            float: right;
        }

    }


    .f-left-section {
        float: left;
    }

    .f-right-section {
        float: right;
    }

    .card-template-wrapper.check-box-style {

        // .list-action-template-wrapper {
        //     .card-template-wrapper {4
        .left-section {
            width: 40%;

            img {
                width: 80px;
                height: 80px;
                margin-left: 26px;
            }
        }

        .right-section {
            width: 60%;
        }
    }

    .show-more {
        .m-title {
            text-align: center;
            border-radius: 0px 0px 4px 4px;
            background: #F0F1F2;
        }
    }

    .btn-style {
        padding: 10px 12px;
        background: #fff;
        border-radius: 0px 0px 4px 4px;
    }

    .shopping-btn {
        margin-right: 10px;
        padding: 10px 9px;
        border-radius: 4px;
        float: left;
        font-size: 12px;
    }

    /* Apply margin-right: 0 to the last .shopping-btn */
    .shopping-btn:last-child {
        margin-right: 0;
    }

    .card-template-wrapper:last-child  {
        border-bottom: none;
      }
    .item-details {
        padding-bottom: 15px;
        overflow: auto;

        .left-section {
            width: 70%;

            .m-gap {
                margin-bottom: 10px;
            }

            .description {
                overflow: auto;
                padding-bottom: 6px;

                .left-description {
                    float: left;
                    // width: 0%;
                }

                .right-description {
                    // float: right;
                    // margin-right: 80px;
                    // width: 50%;
                }
            }
        }

        .right-section {
            width: 30%;
            text-align: right;
            img{
                width: 100%;
            }
        }

    }

    .desc-details {
        padding: 15px 0;
        font-size: 12px;
        font-weight: 400;
        color: #344054;
        border-top: 1px solid #E5E5E5;
        overflow: auto;
        width: 100%;

        .desc-details-title {
            padding-bottom: 10px;

        }

        .description {
            overflow: auto;
            padding-bottom: 6px;

            .left-description {
                float: left;
                width: 40%;
            }

            .right-description {
                // width: 50%;
                // float: right;
                // margin-right: 80px;
            }
        }
    }

    .summary-details {
        padding: 15px 0;
        font-size: 12px;
        font-weight: 400;
        color: #344054;
        border-top: 1px solid #E5E5E5;
        overflow: auto;
        width: 100%;

        .desc-details-title {
            padding-bottom: 10px;

        }

        .description {
            overflow: auto;
            padding-bottom: 6px;

            .left-description {
                float: left;
                width: 50%;
            }

            .right-description {
                // width: 50%;
                float: right;
                // margin-right: 80px;
            }
        }
    }

    .total-summary-details {

        padding: 15px 0 0;
        font-size: 12px;
        font-weight: 400;
        color: #344054;
        border-top: 1px solid #E5E5E5;
        overflow: auto;
        width: 100%;

        .desc-details-title {
            padding-bottom: 10px;

        }

        .description {
            overflow: auto;
            padding-bottom: 6px;

            .left-description {
                float: left;
                width: 50%;
            }

            .right-description {
                // width: 50%;
                float: right;
                // margin-right: 80px;
            }
        }
    }
}