.lineChartChildDiv .mouse-over-effects .mouse-per-line text {
    font-size: 12px;
}
.kore-chat-window .linechart .linechartDiv {
    display: block;
    border-radius: 4px;
    clear: both;
    margin-left: -45px;
    width: 353px;
    box-shadow: 0 1px 5px 0 rgba(179, 186, 200, 0.58);
    cursor: pointer;
    background-color: #ffffff;
}

.kore-chat-window .lineChartChildDiv {
    margin-left: 13px;
    width: 340px;
}

.kore-chat-window .linechart .messageBubble.linechart {
    margin-bottom: 10px;
}

.kore-chat-window .linechart .profile-photo {
    top: 30px;
}

[dir="rtl"].kore-chat-window .linechart .linechartDiv{
    margin-right: -45px;
    direction: ltr;
}