.likeDislikeDiv{
    display: inline-block;
    border: 1px solid var(--sdk-chat-window-like-border-color);
    border-radius: 50%;
    padding: 10px;
    margin-right: 5px;
    text-align: center;
    cursor: pointer;
}
.likeDislikeDiv img { 
    width: 20px;
}