.otp-phone-num{
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    .phone-icon{
        border-radius: 40px;
        background: var(--gloabl-bg-secondary);
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        svg{
            path{
                stroke:var(--gloabl-text-color);
            }
        }
    }
    p{
        color: var(--gloabl-text-color);
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        width: 100%;
    }
}
.otp-input-wrapper{
    display: flex;
    flex-direction: column;
    gap: 8px;
    p{
        color: var(--gloabl-text-color);
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        margin: 0;
    }
    .otp-inputs{
        display: flex;
        align-items: center;
        width: 100%;
        gap: 10px;
        input{
            width: 100%;
            border-radius: 8px;
            border: 1px solid var(--gloabl-border-color);
            background: var(--global-white-bg);
            box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
            height: 48px;
            padding: 2px 8px;
            text-align: center;
            color: var(--gloabl-text-color);
            font-size: 24px;
            font-weight: 500;
            line-height: 32px;
            &::placeholder{
                color: var(--gloabl-text-color);
                opacity: 0.4;
                font-size: 24px;
                font-weight: 500;
                line-height: 32px;
            }
        }
    }
    .text-info-otp{
        color: var(--gloabl-text-color);
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        display: flex;
        align-items: center;
        gap: 4px;
        button{
            border: 0;
            padding: 0;
            background: transparent;
            color: var(--global-theme-color);
            text-decoration-line: underline;
            font-size: 14px;
            cursor: pointer;
        }
    }
}