.list-action-template-wrapper{
    padding: 20px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    h1{
        color: var(--kora-grey-grey-dark-1, #202124);
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
    }
    .list-content-details{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
        .list-data-temp{
            border-radius: 4px;
            border: 1px solid var(--kora-grey-grey-light-3, #E4E5E7);
            background: var(--generic-white, #FFF);
            display: flex;
            padding: 12px;
            align-items: flex-start;
            gap: 12px;
            align-self: stretch;
            flex-direction: column;
            .img-with-content-block{
                display: flex;
                align-items: flex-start;
                gap: 12px;
                width: 100%;
                .img-block{
                    width: 56px;
                    height: 56px;
                    flex-shrink: 0;
                    &.small-img{
                        height: 32px;
                        width: 32px;
                    }
                    &.medium-img{
                        height: 40px;
                        width: 40px;
                    }
                    figure{
                        width: 100%;
                        height: 100%;
                        line-height: normal;
                        img{
                            width: 100%;
                            height: 100%;
                            border-radius: 4px;
                            object-fit: cover;
                        }
                    }
                }
                .content-details{
                    width: 100%;
                    h1{
                        color: var(--kora-grey-grey-dark-1, #202124);
                        font-size: 14px;
                        font-weight: 700;
                        line-height: normal;
                    }
                    p{
                        color: var(--gray-modern-700, #364152);
                        font-size: 12px;
                        font-weight: 400;
                        line-height: normal;
                        margin-top: 8px;
                    }
                }
            }
            .link-exteranl-list{
                color: var(--primary-500-main, #2B75E4);
                font-size: 12px;
                font-weight: 400;
                line-height: normal;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
}

.menu-wrapper-data-actions{
    display: flex;
    flex-direction: column;
    height: 100%;
    .actions-slider-header-menu{
        display: flex;
        align-items: center;
        padding: 14px 15px;
        gap: 10px;
        flex-shrink: 0;
        h1{
            width: 100%;
            color: var(--kora-grey-grey-dark-1, #202124);
            font-size: 14px;
            font-weight: 700;
            line-height: normal;
        }
        .menu-close{
            width: 16px;
            height: 16px;
            border: 0;
            background: transparent;
            padding: 0;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            figure{
                width: 100%;
                line-height: 0;
            }
        }
    }
    .iner-data-scroll-wraper{
        flex: 1 1 auto;
        overflow: auto;
    }
}