// Date Saperator

.date-saperator{
    margin: 20px 16px 12px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    animation-name: bubbleAnim;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    &.date-saperator-1{
        .line-border{
            display: none;
        }
        .date-text{
            background: var(--date-seperator-bg);
            border-radius: 32px;            
        }
    }
    &.date-saperator-2{
        .line-border{
            display: none;
        }
        .date-text{
            border: 1px solid var(--date-seperator-bg-1);
            border-radius: 4px;
            width: 100%;  
            padding: 7px 8px;       
        }
    }
    .line-border{
        width: 72px;
        border: 1px solid var(--date-seperator-line-border);
        margin: 0 12px;
    }
    .date-text{
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: var(--date-seperator-color);
        padding: 4px 8px;
        position: relative;
        z-index: 1;
        flex-shrink: 0;
        text-align: center;
    }
}



// History Loader css

.history-loading-wrapper{
    padding: 5px 16px;
    display: inline-block;
    width: 100%;
    .history-bg-content{
        display: flex;
        align-items: center;
        border-radius: 4px;
        border: 1px solid var(--gray-modern-200, #E3E8EF);
        background: var(--cool-gray-100, #EFF1F5);
        padding: 10px 15px;
        gap: 10px;
        min-height: 40px;
        justify-content: center;
        .loader-history{
            border: 2px solid #E3E8EF;
            border-radius: 50%;
            border-top: 2px solid #9AA4B2;
            width: 16px;
            height: 16px;
            -webkit-animation: spinLoader 2s linear infinite;
            animation: spinLoader 2s linear infinite;
            flex-shrink: 0;
        }
        .title-loading{
            color: var(--gray-modern-700, #364152);
            font-size: 14px;
            font-weight: 500;
        }
    }
}