
.chat-actions-bottom-wraper{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    // background: var(--gloabl-text-color);
    backdrop-filter: blur(4px);
    border-radius: 4px;
    z-index: 99;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    // justify-content: flex-end; 
    transition: 0.3s all ease-in-out;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: flex;
    &.close-bottom-slide{
        -webkit-animation-name: fadeOut;
        animation-name: fadeOut;
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        .actions-contnet-data{
            -webkit-animation-name: fadeInDown;
            animation-name: fadeInDown;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }
    }
    .actions-contnet-data{
        max-height: 75%;
        width: 100%;
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp;
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        background: var(--global-white-bg);
        border-radius: 4px 4px 0px 0px;
    }
}
.insure-assist-theme {
    .chat-actions-bottom-wraper{
        height: calc(100vh - 69px);
        background: #fff;
        .actions-contnet-data{
            max-height: 100%;
        }
    }
}