
.chat-actions-bottom-wraper{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
    border-radius: 4px;
    z-index: 99;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end; 
    transition: 0.3s all ease-in-out;
    &.close-bottom-slide{
        animation-name: closeBottomToTopAnim;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    .actions-contnet-data{
        max-height: 75%;
        width: 100%;
        // overflow: auto;
        animation-name: slideBottomToTopAnim;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        opacity: 0;
        background: #FFFFFF;
        border-radius: 4px 4px 0px 0px;
    }
}