@import '../variables.scss';
.chat-widget-body-wrapper{
    flex: 1 1 auto;
    background: var(--chat-widget-body-bg) no-repeat;
    background-size: cover;
    overflow: auto;
    height: calc(100vh - 330px); // Need to remove
    padding-bottom: 5px;
    .prev-message-list {
        display: none;
    }
    .kore-sdk-error-section {
        display: block;
        text-align: center;
        background: #FFFBFA;
        color: #D92D20;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        left: 0;
        right: 0;
        padding: 5px;
        &.hide {
            display: none;
        }
    }
}