@import '../variables.scss';

.chat-widget-body-wrapper {
    flex: 1 1 auto;
    background: var(--chat-widget-body-bg) no-repeat;
    background-size: cover;
    overflow: auto;
    height: calc(100vh - 330px); // Need to remove

    .prev-message-list {
        display: none;
    }
}
.insure-assist-theme {
    .chat-widget-body-wrapper {
        overflow-x: hidden;
    }
    .chat-widget-composebar{
        .compose-bar-wrapper{
            .compose-text-area{
                .typing-text-area:focus{
                    border: 0.5px solid var(--agent-bubble-msg-bg);
                }
                .typing-text-area:focus-visible{
                    outline-color: var(--agent-bubble-msg-bg);
                }
            }
        }
    }
}