
.menu-wrapper-data-actions{
    display: flex;
    flex-direction: column;
    height: 100%;
    .actions-slider-header-menu{
        display: flex;
        align-items: center;
        padding: 14px 15px;
        gap: 10px;
        flex-shrink: 0;
        .article-menuheader{
            display: flex;
            align-items: center;
            width: 100%;
            gap: 6px;
            overflow: hidden;
            h1{
                width: auto;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            span{
                border-radius: 16px;
                background: var(--gloabl-bg-secondary);
                display: flex;
                padding: 2px 8px;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                text-align: center;
                font-size: 12px;
                font-weight: 500;
                line-height: 18px;
            }
        }
        .title-desc-heading{
            width: 100%;
            p{
                color: var(--gloabl-text-color);
                font-size: 12px;
                font-weight: 400;
                line-height: 18px;
                margin-top: 4px;
            }
        }
        h1{
            width: 100%;
            color: var(--sdk-gloabl-text-color);
            font-size: 14px;
            font-weight: 700;
            line-height: normal;
        }
        .menu-close{
            width: 16px;
            height: 16px;
            border: 0;
            background: transparent;
            padding: 0;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            svg{
                path{
                    fill: var(--sdk-gloabl-text-color);
                }
            }
        }
    }
    .iner-data-scroll-wraper{
        flex: 1 1 auto;
        overflow: auto;
        padding-bottom: 16px;
        &.hidden-scroll{
            display: flex;
            flex-direction: column;
            overflow: hidden;
        }
        &.otp-data-scroll-wrapper{
            padding: 0 16px 16px 16px;
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }
}