
.menu-wrapper-data-actions{
    display: flex;
    flex-direction: column;
    height: 100%;
    .actions-slider-header-menu{
        display: flex;
        align-items: center;
        padding: 14px 15px;
        gap: 10px;
        flex-shrink: 0;
        h1{
            width: 100%;
            color: var(--sdk-gloabl-text-color);
            font-size: 14px;
            font-weight: 700;
            line-height: normal;
        }
        .menu-close{
            width: 16px;
            height: 16px;
            border: 0;
            background: transparent;
            padding: 0;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            svg{
                path{
                    fill: var(--sdk-gloabl-text-color);
                }
            }
        }
    }
    .iner-data-scroll-wraper{
        flex: 1 1 auto;
        overflow: auto;
    }
}