
.actions-slider-header-menu{
    display: flex;
    align-items: center;
    padding: 14px 15px;
    gap: 10px;
    h1{
        width: 100%;
        color: var(--kora-grey-grey-dark-1, #202124);
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
    }
    .menu-close{
        width: 16px;
        height: 16px;
        border: 0;
        background: transparent;
        padding: 0;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        figure{
            width: 100%;
            line-height: 0;
        }
    }
}