.quick-replies {
    display: flex;
    transition: 0.2s all ease;
    align-items: center;
    padding: 10px 8px;
    gap: 4px;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    &.full-width-buttons {
        flex-direction: column;
        .kr-btn {
            width: 100%;
        }
    }

    &.stack-buttons {
        display: block;

        .kr-btn {
            display: block;
            width: auto;
            margin-bottom: 8px;
        }
    }

    &.button-variation-1 {
        .kr-btn {
            background: var(--button-temp-bg-variation-1);
            border: 1px solid var(--button-temp-variation-1-border);
            color: var(--button-temp-variation-1-color);

            &:hover {
                background: var(--button-temp-bg-variation-1-hover);
            }
        }
    }

    &.button-variation-2 {
        .kr-btn {
            background: var(--button-temp-bg-variation-2);
            border: 1px solid var(--button-temp-variation-2-border);
            color: var(--button-temp-variation-2-color);

            &:hover {
                background: var(--button-temp-bg-variation-2-hover);
            }
        }
    }

    .kr-btn {
        background: var(--button-temp-bg);
        border: 1px solid var(--button-temp-border);
        border-radius: 4px;
        padding: 9px 16px;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: var(--button-temp-color);
        cursor: pointer;
        margin: 4px;
        text-align: center;
        transition: 0.2s all ease;
        white-space: nowrap;

        &:hover {
            background: var(--button-temp-bg-hover);
        }
    }
    
    .quick-replies-buttons {
        display: flex;
        overflow: hidden;
        width: 100%;
    }

    .quick-left-click {
        border-radius: 32px;
        background: var(--global_white);
        box-shadow: 0px 4px 12px 2px rgba(32, 33, 36, 0.12);
        display: flex;
        width: 32px;
        height: 32px;
        padding: 0px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: 0;
        cursor: pointer;
        flex-shrink: 0;
        svg{
            path{
                stroke: var(--gloabl-text-color);
            }
        }
        &.hide {
            cursor: not-allowed;
            pointer-events: none !important;
            opacity: 0.4;
        }
    }

    .quick-right-click {
        @extend .quick-left-click;
    }
}