
.kore-chat-window .listTmplContent .listTmplContentBox {
    float: left;
    color: #333;
    border-radius: 12px;
    padding: 0;
    font-size: 14px;
    -webkit-animation: message-left ease-in-out 2s forwards;
    -moz-animation: message-left ease-in-out 2s forwards;
    animation: message-left ease-in-out 2s forwards;
    margin: 0;
    border: 1px solid var(--sdk-chat-widow-primary-bg-color);
    max-width: 95%;
    line-height: 1.5;
}

.kore-chat-window .listTmplContent .listLeftContent {
    display: table-cell;
    vertical-align: top;
}

.kore-chat-window .listTmplContent .listRightContent {
    width: 65px;
    height: 60px;
    cursor: pointer;
}

.kore-chat-window .listRightContent img {
    height: 57px;
    width: 57px;
    border-radius: 50%;
}

.kore-chat-window .listTmplContent .listTmplContentChild {
    border-top: 1px solid var(--sdk-chat-widow-primary-bg-color);
    padding: 10px;
    margin: 0;
    width: 100%;
    display: table;
}

.kore-chat-window .listTmplContent .listItemSubtitle {
    font-size: 12px;
    color: var(--sdk-chat-widow-secondary-font-color);
}

.kore-chat-window .listTmplContent .listItemPath {
    font-size: 12px;
    color: #0079FF;
    cursor: pointer;
}

.kore-chat-window .listTmplContent .buyBtn {
    // background: var(--sdk-chat-widow-default-white);
    border: 0;
    color: var(--sdk-chat-window-btn-default-bg);
    cursor: pointer;
    float: right;
    font-weight: bold;
    letter-spacing: -0.3px;
    font-size: 12px;
    text-align: right;
}

.kore-chat-window .listTmplContentBox li:first-child {
    margin-top: 0!important;
    border-top: 0;
}

.kore-chat-window .listTmplContent .listTmplContentHeading {
    padding: 10px;
    background: #f4f4f4;
    margin-bottom: 0;
    border-radius: 12px 12px 0 0;
    font-size: 15px;
}

.kore-chat-window .listTmplContent .listItemTitle,
.kore-chat-window .listItemSubtitle,
.listItemPath {
    padding: 3px 0;
    font-size: 13px;
}

.kore-chat-window .listItemTitle {
    font-size: 13px;
    font-weight: 600;
    line-height: 1.54;
    letter-spacing: -0.1px;
    color: var(--sdk-chat-window-bot-bubble-font-clr);
}

.kore-chat-window .listTmplContent .viewMoreList {
    text-align: center;
    border-top: 1px solid var(--sdk-chat-widow-primary-bg-color);
    padding: 10px;
    margin: 0;
}

.kore-chat-window .listTmplContent .viewMore {
    border: 0;
    background: none;
    color: #0079FF!important;
    font-size: 15px;
    cursor: pointer;
}
[dir="rtl"].kore-chat-window .listTmplContent .listTmplContentBox{
    float: right;
}