@import '../insureAssistCardTemplate/insureAssistCardTemplate.scss';

.card-form {
    padding: 10px 20px;

    .left-data {
        float: left;

        h2 {
            font-weight: 600;
        }
    }

    .right-data {
        float: right;
        cursor: pointer;
    }

    .login-card {
        padding: 0;
        clear: both;
        padding-top: 14px;
    }

    label {
        display: block;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        margin-bottom: 8px;
        color: #121314;
    }

    input {
        width: 100%;
        border: 1px solid #E5E5E5;
        border-radius: 6px;
        padding: 10px;
        margin-bottom: 10px;
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        height: 40px;
        color: #000;
    }

    input:focus {
        border: 0.5px solid #0086C9;
    }

    input:focus-visible {
        outline-color: #0086C9;
    }

    button {
        color: #FFFFFF;
        background-color: #0086C9;
        width: 100%;
        border: none;
        padding: 10px;
        padding: 10px 16px;
        border-radius: 4px;
        margin-right: 12px;
    }

    :last-child {
        margin-right: 0px;
    }
}

.content-info {
    flex-direction: column;
    width: auto;
    transition: 0.3s all ease;
    padding: 10px 20px;
    width: 100%;

    div {
        width: 100%
    }

    .right-data,
    .left-data {
        width: 100%
    }


    .login-card {
        width: 100%;
    }


    // transform: scale(0) translateX(100%);
    // animation: leftrun 1s ease-in forwards 1s;
    // opacity: 0;
    @-webkit-keyframes leftrun {
        0% {
            transform: translateX(100%);
            opacity: 0;
            height: 48px;
        }

        60% {
            transform: none;
            opacity: 0.5;
            height: auto;
        }

        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .disabled-button {
        color: #ccc;
        /* Change the text color to a faded color (e.g., gray) */
        opacity: 0.6;
        /* Reduce the opacity to make it look faded */
        cursor: not-allowed;
        /* Change the cursor to not-allowed when disabled */
    }
}

.card-form content-info {
    width: 100%;

    .left-data {
        width: 100%
    }

    .right-data {
        width: 100%
    }
}

.cardFor-info-template {
    width: 91%;
    padding: 0px;
    margin: 0 auto;

    .header {
        position: relative;

        .header-icon {
            position: absolute;
            top: -20px;
            left: 10px;
        }

        h2 {
            padding: 30px 10px 10px;
            border-radius: 4px 4px 0px 0px;
        }
    }

    .card-body {
        padding: 18px 10px;
        border: 1px solid #BDC1C6;
        border-radius: 0px 0px 4px 4px;
    }

    .info-Btn {
        color: #fff;
        background: rgb(0, 134, 201);
        font-size: 14px;
        font-weight: 500;
        margin-top: 4px;
        border: none;
        text-align: center;
        padding-left: 4px;
    }
    .login-card-container{
        border: 1px solid #E5E5E5;
        padding: 10px;
        border-radius: 0px 0px 4px 4px;
        margin-bottom: 20px
    }
}

.close-bottom-slide {
    display: none;
}

.cardFor-info-template.card-form content-info {
    padding: 0;
    margin: 0 auto;
}