@import '../insureAssistCardTemplate/insureAssistCardTemplate.scss';

.card-form {
    padding: 10px 20px;

    .left-data {
        float: left;
    }

    .right-data {
        float: right;
        cursor: pointer;
    }

    .login-card {
        margin-top: 25px;
    }

    label {
        display: block;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        margin-bottom: 8px;
    }

    input {
        width: 100%;
        border: 1px solid #E5E5E5;
        border-radius: 4px;
        padding: 10px;
        margin-bottom: 10px;
    }

    input:focus {
        border: 0.5px solid var(--agent-bubble-msg-bg);
    }

    input:focus-visible {
        outline-color: var(--agent-bubble-msg-bg);
    }

    button {
        color: #FFFFFF;
        background-color: var(--agent-bubble-msg-bg);
        width: 100%;
        border: none;
        padding: 10px;
        padding: 10px 16px;
        border-radius: 4px;
    }
}

.content-info {
    flex-direction: column;
    width: auto;
    transition: 0.3s all ease;

    // transform: scale(0) translateX(100%);
    // animation: leftrun 1s ease-in forwards 1s;
    // opacity: 0;
    @-webkit-keyframes leftrun {
        0% {
            transform: translateX(100%);
            opacity: 0;
            height: 48px;
            background-color: red;
        }

        60% {
            transform: none;
            opacity: 0.5;
            height: auto;
        }

        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

}